<apex:page standardController="Case" extensions="CaseSendEmailWithTemplate" action="{!init}" 
    title="Case - Send Email with Template">

  <style type="text/css">
      div.message {margin-left:0; margin-right:0;}
  </style>
  
  <apex:pageMessages />
  
  <apex:form style="padding-top:10px; padding-bottom:100px;">
      <apex:actionFunction name="selectTemplate" action="{!setTemplateAndSendEmail}" />
      <apex:pageBlock title="Select Case Email Template" mode="edit" rendered="{!invalidTemplate}">
          
          <apex:pageBlockSection title="" columns="1">
              <apex:outputField value="{!Case.CaseNumber}" />
              <apex:outputField value="{!Case.Contact.Name}" label="Contact"/>
              <apex:outputField value="{!Case.Subject}" />              
              <apex:inputField value="{!Case.Email_Template_Required__c}" required="true" onchange="selectTemplate()"/>
          </apex:pageBlockSection>       
        </apex:pageBlock>                                
  </apex:form>
</apex:page>