<apex:page tabStyle="Contract" controller="ContractMarketDiscountViewController" action="{!initDisc}" lightningStylesheets="true">
    <style>
        .Tabletitle
        {
        background-color: #CE5058 !important;
        font-size:13px;
        }
        td
        {
        padding:4px 1px 2px 2px;
        }
    </style>
    
    
    <apex:form >    
        <apex:commandButton action="{!cancel}" value="  Back  to Contract  "/> 
        &nbsp;
        <br>  </br> 
    <apex:commandButton action="{!DOM}" value="DOM&REG Discounts"  />  
    &nbsp;
    <apex:commandButton action="{!INSH}" value="ISH Discounts" /> 
    &nbsp;
    <apex:commandButton action="{!NA}" value="DL Discounts" /> 
    &nbsp;
    <apex:commandButton action="{!LON}" value="LON Discounts" /> 
    &nbsp;
    <apex:commandButton action="{!EY}" value="EY Discounts" /> 
    &nbsp;
    <apex:commandButton action="{!SQ}" value="SQ Discounts" /> 
    &nbsp;
    &nbsp;
    <apex:commandButton action="{!RED}" value="Red Circle Discounts" /> 
    &nbsp;
    <br>  </br>
<apex:pageBlock title="Market Information for {!conname}">
    <apex:pageBlockTable value="{!marketdata}" var="mdata">
        <apex:column headerValue="Name" headerClass="Tabletitle" width="240" >
            <apex:outputLabel >{!mdata.Market__c}</apex:outputLabel>
        </apex:column>
        <apex:column headerValue="Carrier" headerClass="Tabletitle" width="240">
            <apex:outputLabel >{!mdata.Carrier__c}</apex:outputLabel>
        </apex:column>
        <apex:column headerValue="Requested Tier" headerClass="Tabletitle" width="240">
            <apex:outputLabel >{!mdata.Requested_Tier__c}</apex:outputLabel>
        </apex:column>
        <apex:column headerValue="VA Serviceable Routes (p.a.)" headerClass="Tabletitle" width="240">
            <apex:outputLabel >{!mdata.VA_Serviceable_Routes_p_a__c}</apex:outputLabel>
        </apex:column>
        <apex:column headerValue="Revenue MS %" headerClass="Tabletitle" width="240">
            <apex:outputLabel >{!mdata.Revenue_M_S__c}</apex:outputLabel>
        </apex:column>
        <apex:column headerValue="VA Revenue Commitment" headerClass="Tabletitle" width="240">
            <apex:outputLabel >{!mdata.VA_Revenue_Commitment__c}</apex:outputLabel>
        </apex:column>
    </apex:pageBlockTable>
</apex:pageBlock>
<apex:pageBlock title="Addtional Benefits for {!conname}" >
    <apex:pageBlockSection title="Velocity Acceleration Details" columns="1">       
        <apex:pageBlockTable value="{!addben}" var="adata" title="Velocity Acceleration" columnsWidth="240px, 240px, 240px, 240px, 240px"  >
            <apex:column headerValue="Velocity Acceleration Frequency" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Velocity_Acceleration_Frequency__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Virgin Australia Beyond" headerClass="Tabletitle" width="240">
                <apex:outputLabel >{!adata.Virgin_Australia_Beyond__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Platinum" headerClass="Tabletitle" width="240">
                <apex:outputLabel >{!adata.Platinum__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Gold" headerClass="Tabletitle" width="240">
                <apex:outputLabel >{!adata.Gold__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Pilot Gold" headerClass="Tabletitle" width="240">
                <apex:outputLabel >{!adata.Pilot_Gold__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Silver" headerClass="Tabletitle" width="240">
                <apex:outputLabel >{!adata.Silver__c}</apex:outputLabel>
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageblocksection>
    <apex:pageBlockSection title="Lounge Details" columns="1">          
        <apex:pageBlockTable value="{!addben}" var="adata" title="Velocity Acceleration"  columnsWidth="240px, 240px, 240px, 240px" >
            <apex:column headerValue="Lounge Membership Tier" headerClass="Tabletitle"  >
                <apex:outputLabel >{!adata.Lounge_Membership_Tier__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Joining Fee" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Joining_Fee__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Membership Fee" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Membership_Fee__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Lounge joining fee waived for 60 days" headerClass="Tabletitle">
                <apex:outputLabel >{!adata.Lounge_joining_fee_waived_for_60_days__c}</apex:outputLabel>
            </apex:column>
        </apex:pageBlockTable> 
    </apex:pageblocksection>
    <apex:pageBlockSection title="Value Add Details" columns="1">          
        <apex:pageBlockTable value="{!addben}" var="adata" title="Adspace"  columnsWidth="240px, 240px, 240px, 240px,240px,240px" >
            <apex:column headerValue="Adspace" headerClass="Tabletitle"  >
                <apex:outputLabel >{!adata.Brand_Connections__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Adspace Payment Type" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Brand_Connections_Payment_Type__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Adspace Payment Frequency" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Brand_Connections_Payment_Frequency__c}</apex:outputLabel>
            </apex:column>
        </apex:pageBlockTable>
        <apex:pageBlockTable value="{!addben}" var="adata" title="Ticket Fund"  columnsWidth="240px, 240px, 240px, 240px,240px,240px" >
            <apex:column headerValue="Ticket-Fund SignOn" headerClass="Tabletitle"  >
                <apex:outputLabel >{!adata.Ticket_Fund_Sign_On_Bonus__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Ticket-Fund SignOn Frequency" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Ticket_Fund_Sign_On_Bonus_Frequency__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Ticket-Fund PBI" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Ticket_Fund_Perf_Based__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Ticket-Fund PBI Frequency" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Ticket_Fund_Perf_Based_Frequecy__c}</apex:outputLabel>
            </apex:column>
        </apex:pageBlockTable>
        <apex:pageBlockTable value="{!addben}" var="adata" title="Status Match"  columnsWidth="240px, 240px, 240px, 240px,240px,240px" >
            <apex:column headerValue="Status Match Offered" headerClass="Tabletitle"  >
                <apex:outputLabel >{!adata.Status_Match_Offered__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Status Match Term" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Status_Match_Term__c}</apex:outputLabel>
            </apex:column>
            
            <apex:column headerValue="Pilot GD Campaign Offered" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Pilot_GD_Campaign_Offered__c}</apex:outputLabel>
            </apex:column>
            <apex:column headerValue="Pilot GD Campaign Term" headerClass="Tabletitle" >
                <apex:outputLabel >{!adata.Pilot_GD_Campaign_Term__c}</apex:outputLabel>
            </apex:column>
        </apex:pageBlockTable>  
    </apex:pageblocksection>
    <apex:pageBlockSection title="International Long-Haul Details" columns="1">          
        <apex:pageBlockTable value="{!contracts}" var="cons" title=""  columnsWidth="240px, 240px, 240px, 240px" >
            <apex:column headerValue="JAPAN" headerClass="Tabletitle"  >
                <apex:outputText value="{!IF(cons.JAPANS__c, '✔', '✘')}"/>
            </apex:column>
            <apex:column headerValue="London" headerClass="Tabletitle"  >
                <apex:outputText value="{!IF(cons.LondonJapan__c, '✔', '✘')}"/>
            </apex:column>
            <apex:column headerValue="SQ" headerClass="Tabletitle"  >
                <apex:outputText value="{!IF(cons.SQ__c, '✔', '✘')}"/>
            </apex:column>
        </apex:pageBlockTable> 
    </apex:pageblocksection>
    <apex:pageBlockSection title="Additional Notes" columns="1">          
        <apex:pageBlockTable value="{!addben}" var="adata" title=""  columnsWidth="240px, 240px, 240px, 240px" >
            <apex:column headerValue="Additional notes" headerClass="Tabletitle"  >
                <apex:outputLabel >{!adata.Additional_Notes__c}</apex:outputLabel>
            </apex:column>
        </apex:pageBlockTable> 
    </apex:pageblocksection>
    <apex:pageBlockSection title="Red Circle Notes" columns="1">          
        <apex:pageBlockTable value="{!addben}" var="adata" title=""  columnsWidth="240px, 240px, 240px, 240px" >
            <apex:column headerValue="Red Circle Notes" headerClass="Tabletitle">
                <apex:outputLabel value="{!HTMLENCODE(adata.Red_Circle_Notes__c)}" style="white-space:pre;" escape="false"/>
            </apex:column>
        </apex:pageBlockTable> 
    </apex:pageblocksection>
</apex:pageBlock>
</apex:form>  
</apex:page>