<apex:page tabStyle="Contract" controller="ContractDiscountViewController" action="{!initDisc}" lightningStylesheets="true">
<style>
.Tabletitle
{
background-color: #CE5058 !important;
font-size:13px;
}
td
{
padding:4px 1px 2px 2px;
}
</style>
    



 <apex:form > 
 <apex:commandButton action="{!cancel}" value="  Back  to Contract   "/> 
 <apex:commandButton action="{!cancel1}" value="  Back  to Proposal   "/> 
 &nbsp;
 <br>  </br>    
 &nbsp;
 <br>  </br> 
 &nbsp;
 <br>  </br>    
 <apex:pageBlock title="Domestic & Regional Discounts for {!conname}" rendered="{!dom}" >
  <apex:pageBlockTable value="{!domResults}" var="ddata" rendered="{!IF(ISNULL(domResults), 'FALSE', 'TRUE')}" >
           <apex:facet name="header">Domestic Discounts</apex:facet> 
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>
  <apex:pageBlockTable value="{!regResults}" var="ddata" rendered="{!IF(ISNULL(regResults), 'FALSE', 'TRUE')}">
           <apex:facet name="header">Regional Discounts</apex:facet> 
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>     
</apex:pageBlock>  
  <apex:pageBlock title="International Short Haul Discounts for {!conname}" rendered="{!ish}">
   <apex:pageBlockTable value="{!ishResults}" var="ddata" rendered="{!IF(ishFlag>0, 'TRUE', 'FALSE')}" >
            <apex:facet name="header">ISH Discounts</apex:facet>  
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>
   <apex:pageBlockTable value="{!ttResults}" var="ddata" rendered="{!IF(ttFlag>0, 'TRUE', 'FALSE')}" >
            <apex:facet name="header">TT Discounts</apex:facet>  
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>     
  <!--apex:pageBlockTable value="{!hkResults}" var="ddata" rendered="{!IF(hkFlag>0, 'TRUE', 'FALSE')}" >
            <apex:facet name="header">Hong Kong Discounts</apex:facet>  
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable> 
  <apex:pageBlockTable value="{!cnResults}" var="ddata" title="China Discounts" rendered="{!IF(cnFlag>0, 'TRUE', 'FALSE')}">
           <apex:facet name="header">China Discounts</apex:facet>  
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable--> 
  <apex:pageBlockTable value="{!jpResults}" var="ddata" title="Japan Discounts" rendered="{!IF(jpFlag>0, 'TRUE', 'FALSE')}">
           <apex:facet name="header">Japan Discounts</apex:facet>  
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>
  <apex:pageBlockTable value="{!jpbResults}" var="ddata" title="Japan Beyond Discounts" rendered="{!IF(jpFlag>0, 'TRUE', 'FALSE')}">
           <apex:facet name="header">Japan Beyond Discounts</apex:facet>  
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>      
</apex:pageBlock>   
    <apex:pageBlock title="London Discounts for {!conname}" rendered="{!london}" >
  <apex:pageBlockTable value="{!lonResults}" var="ddata" rendered="{!IF(lonFlag> 0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">London Discounts</apex:facet> 
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>
        </apex:pageBlock> 
     <apex:pageBlock title="North America Discounts" rendered="{!na}" >
  <apex:pageBlockTable value="{!naResults}" var="ddata" rendered="{!IF(naFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">DL Discounts</apex:facet> 
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable>
        </apex:pageBlock>  
         <apex:pageBlock title="EY Discounts for {!conname}" rendered="{!EY}" >
         <apex:outputPanel rendered="{!IF(EYEUz1Flag>0 || EYEUz2Flag>0 || EYEUz3Flag>0 , 'TRUE', 'FALSE')}" title="Europe OD Pairs">
      <table class="slds-table slds-table_bordered" style="margin-top: 20px; margin-bottom: 20px " border="1px"   >

  <tr class="headerRow" >
    <th class="headerRow" style="width:80px">Zone</th>
    <th class="headerRow" style="width:70px; text-align:center;">Origin-Destination Pairs</th>    
  </tr>        
  <tr >    
    <td class="dataCell" style="width:100px;">Zone 1</td>
    <td class="dataCell" style="text-align:left;">{!contractod.EUZ1ONDSelected__c}</td>
  </tr>
  
  <tr>
    <td class="dataCell" style="width:100px;">Zone 2</td>
    <td class="dataCell" style="text-align:left;">{!contractod.EUZ2ONDSelected__c}</td>
  </tr>

  <tr>
    <td class="dataCell" style="width:100px;">Zone 3</td>
    <td class="dataCell" style="text-align:left;">{!contractod.EUZ3ONDSelected__c}</td>
  </tr>

</table>   
</apex:outputPanel>    
             
  <apex:pageBlockTable value="{!eyeuz1Results}" var="ddata" rendered="{!IF(EYEUZ1Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">UK/Europe Zone1 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>
            
  <apex:pageBlockTable value="{!eyeuz2Results}" var="ddata" rendered="{!IF(EYEUZ2Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">UK/Europe Zone2 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>  
   <apex:pageBlockTable value="{!eyeuz3Results}" var="ddata" rendered="{!IF(EYEUZ3Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">UK/Europe Zone3 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>          
             
             
         <apex:pageBlockTable value="{!eyeuResults}" var="ddata" rendered="{!IF(EYEUFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">UK/Europe Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
     
  </apex:pageBlockTable>
  <apex:outputPanel rendered="{!IF(EYMEz1Flag>0 ||EYMEz2Flag>0 || EYMEz3Flag>0 || EYMEz4Flag>0, 'TRUE', 'FALSE')}">
      <table class="slds-table slds-table_bordered" style="margin-top: 20px; margin-bottom: 20px " border="1px"  >
  <tr class="headerRow" >
    <th class="headerRow" style="width:80px">Zone</th>
    <th class="headerRow" style="width:70px; text-align:center;">Origin-Destination Pairs</th>    
  </tr> 
  <tr >    
    <td class="dataCell" style="width:100px;">Zone 1</td>
    <td class="dataCell" style="text-align:left;">{!contractod.MEZ1ONDSelected__c}</td>
  </tr>
  
  <tr>
    <td class="dataCell" style="width:100px;">Zone 2</td>
    <td class="dataCell" style="text-align:left;">{!contractod.MEZ2ONDSelected__c}</td>
  </tr>

  <tr>
    <td class="dataCell" style="width:100px;">Zone 3</td>
    <td class="dataCell" style="text-align:left;">{!contractod.MEZ3ONDSelected__c}</td>
  </tr>
          
   <tr>
    <td class="dataCell" style="width:100px;">Zone 4</td>
    <td class="dataCell" style="text-align:left;">{!contractod.MEZ4ONDSelected__c}</td>
  </tr>

</table>   
</apex:outputPanel>    
      <apex:pageBlockTable value="{!eymez1Results}" var="ddata" rendered="{!IF(EYMEz1Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">MiddleEast Zone1 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>
   <apex:pageBlockTable value="{!eymez2Results}" var="ddata" rendered="{!IF(EYMEz2Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">MiddleEast Zone2 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable> 
   <apex:pageBlockTable value="{!eymez3Results}" var="ddata" rendered="{!IF(EYMEz3Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">MiddleEast Zone3 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable> 
  <apex:pageBlockTable value="{!eymez4Results}" var="ddata" rendered="{!IF(EYMEz4Flag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">MiddleEast Zone4 Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>             
   
    <apex:pageBlockTable value="{!eymeResults}" var="ddata" rendered="{!IF(EYMEFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">Middle East EY Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>      
  </apex:pageBlockTable> 
             
    <apex:pageBlockTable value="{!eyafResults}" var="ddata" rendered="{!IF(EYAFFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">Africa EY Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
     
  </apex:pageBlockTable>           
        </apex:pageBlock>  
     <apex:pageBlock title="SQ Discounts for {!conname}" rendered="{!SQ}" >
         <apex:outputPanel rendered="{!IF(sqodFlag>0, 'TRUE', 'FALSE')}">
      <table class="slds-table slds-table_bordered" style="margin-top: 20px; margin-bottom: 20px " border="1px"  >

    <tr class="headerRow" >
    <th class="headerRow" style="width:80px">Region</th>
    <th class="headerRow" style="width:70px; text-align:center;">Origin-Destination Pairs</th>    
  </tr>         
  <tr >    
    <td class="dataCell" style="width:100px;">Europe</td>
    <td class="dataCell" style="text-align:left;">{!contractod.SQEUOND__c}</td>
  </tr>
  
  <tr>
    <td class="dataCell" style="width:100px;">North Asia</td>
    <td class="dataCell" style="text-align:left;">{!contractod.SQNAOND__c}</td>
  </tr>

  <tr>
    <td class="dataCell" style="width:100px;">South East Asia</td>
    <td class="dataCell" style="text-align:left;">{!contractod.SQSEAOND__c}</td>
  </tr>
 <tr>
    <td class="dataCell" style="width:100px;">West Asia Africa</td>
    <td class="dataCell" style="text-align:left;">{!contractod.SQWAAOND__c}</td>
  </tr>


</table>   
             </apex:outputPanel>
      <apex:pageBlockTable value="{!sqeuResults}" var="ddata" rendered="{!IF(sqeuFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">UK/Europe SQ Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>
  <apex:pageBlockTable value="{!sqasResults}" var="ddata" rendered="{!IF(sqasFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">Asia SQ Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column>
  </apex:pageBlockTable>       
  <apex:pageBlockTable value="{!sqafResults}" var="ddata" rendered="{!IF(sqafFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">Africa SQ Discounts</apex:facet> 
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
  </apex:pageBlockTable>
        </apex:pageBlock> 
      <apex:pageBlock title="Red Circle Discounts for {!conname}" rendered="{!RED}" >
               <apex:pageBlockTable value="{!redResults}" var="ddata" rendered="{!IF(redFlag>0, 'TRUE', 'FALSE')}" >
           <apex:facet name="header">Red Circle Discounts</apex:facet>  
           <apex:column headerValue="Discount Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.NAME}</apex:outputLabel>
          </apex:column>
           <apex:column headerValue="Eligible Fare Type" headerClass="Tabletitle" width="240">
             <apex:outputLabel >{!ddata.Eligible_Fare_Type__c}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="VA Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.VA_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Partner Eligible Booking Class" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Partner_Eligible_Booking_Class__c}</apex:outputLabel>
         </apex:column>
           <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Discount_Off_Published_Fare__c}</apex:outputLabel>
         </apex:column> 
         <apex:column headerValue="Fixed Base Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Fixed_Base_Fare__c}</apex:outputLabel>
         </apex:column>            
            <apex:column headerValue="Discount Off Published Fare" headerClass="Tabletitle" width="240">
              <apex:outputLabel >{!ddata.Applicable_Routes__c}</apex:outputLabel>
         </apex:column>          
  </apex:pageBlockTable>  </apex:pageBlock>  
  </apex:form>  
</apex:page>