<apex:page standardController="Event" action="{!initDisc}" extensions="CreateMeetingNotes" lightningStylesheets="true" >
<apex:form >
 <apex:pageMessages />   
<apex:pageBlock title="">

  <apex:pageBlockSection rendered="{!addnote}" columns="1" > 
      
      
  <div >
     <apex:outputPanel >
     <apex:commandButton action="{!save}" value="Save" />
     <apex:commandButton action="{!cancel}" value="Cancel" />
     </apex:outputPanel>   
  </div>   
    &nbsp;
  <apex:inputField label="Meeting Outcome and Next Steps" value="{!newmeetnote.Meeting_Outcome_Next_Steps__c}" required="true"/ > 
    &nbsp;
    <apex:inputField label="Market Intelligence Type" value="{!newmeetnote.Market_Intelligence_Type__c}" required="false"/> 
    <apex:inputField label="Market Intelligence Type" value="{!newmeetnote.Market_Intelligence_Sub_Type__c}" required="false"/>   
     <apex:inputField label="Market Intelligence Details" value="{!newmeetnote.Market_Intelligence_Details__c}" required="false"/> 
    &nbsp;
      <div>
      <apex:outputPanel >
     <apex:commandButton action="{!save}" value="Save" />
     <apex:commandButton action="{!cancel}" value="Cancel" />
     </apex:outputPanel>
 </div> 
 </apex:pageBlockSection>
  </apex:pageBlock>
</apex:form>  
</apex:page>