<apex:page standardController="Contract_Addendum__c" extensions="DomesticAddendumDiscountController" action="{!initDisc}" lightningStylesheets="true">
    
     <style type="text/css">
        .inputf { 
        height: 10px;
        font-size:90%;
        }
        .input2f { 
        height: 10px;
        font-size:90%;
         }
        
    </style>
    <apex:form >
<apex:pageBlock >
 <center>
       <apex:commandLink value=" Back " action="{!cancel}"     target="_parent" styleClass="btn"     style="text-decoration:none;padding:4px;"/> 
       <apex:commandLink value=" Quick Save " action="{!qsave}"     target="_parent" styleClass="btn"     style="text-decoration:none;padding:4px;"/> 
       <apex:commandLink value="Save" action="{!save}"     target="_parent" styleClass="btn"     style="text-decoration:none;padding:4px;"/>  
    </center>
<apex:pageBlockSection columns="4">
    
    <apex:pageBlock mode="edit" id="block" >
   <apex:pageBlockButtons location="bottom" >
          <apex:commandButton rendered="{!IF(domFlag==0  , 'TRUE', 'FALSE')}" action="{!newDom}" value="  Insert Domestic Discount Table >        "/>
          <apex:commandButton rendered="{!IF(domFlag>0 , 'TRUE', 'FALSE')}" action="{!remDom}" value="  Remove Domestic Discount Table >        "/>
   </apex:pageBlockButtons>
   </apex:pageBlock>
<apex:pageBlockTable value="{!searchResults}" var="item"  width="200" rendered="{!NOT(ISNULL(searchResults))}">
     <apex:column value="{!item.Eligible_Fare_Type__c}" />
     <apex:column value="{!item.VA_Eligible_Booking_Class__c}" />
      <apex:column headerValue="" width="150" rendered="{!NOT(iseditable)}">
              <apex:outputField styleClass="input2f"  value="{!item.Discount_Off_Published_Fare__c}"/>
              </apex:column> 
     <apex:column headerValue="" width="150" rendered="{!iseditable}">
              <apex:inputField styleClass="input2f"  value="{!item.Discount_Off_Published_Fare__c}"/>
      </apex:column>     
</apex:pageBlockTable>
</apex:pageBlockSection>
    
<apex:pageBlockSection columns="4">
    <apex:pageBlock mode="edit" id="block" >
   <apex:pageBlockButtons location="bottom" >
          <apex:commandButton rendered="{!IF(regFlag==0  , 'TRUE', 'FALSE')}" action="{!newReg}" value="  Insert Regional Discount Table >        "/>
          <apex:commandButton rendered="{!IF(regFlag>0  , 'TRUE', 'FALSE')}" action="{!remReg}" value="  Remove  Regional Discount Table >        "/>
   </apex:pageBlockButtons>
   </apex:pageBlock>
<apex:pageBlockTable value="{!searchResults1}" var="item"  width="200" rendered="{!NOT(ISNULL(searchResults1))}">
     <apex:column value="{!item.Eligible_Fare_Type__c}" />
     <apex:column value="{!item.VA_Eligible_Booking_Class__c}" />
      <apex:column headerValue="" width="150" rendered="{!NOT(iseditable)}">
              <apex:outputField styleClass="input2f"  value="{!item.Discount_Off_Published_Fare__c}"/>
              </apex:column> 
     <apex:column headerValue="" width="150" rendered="{!iseditable}">
              <apex:inputField styleClass="input2f"  value="{!item.Discount_Off_Published_Fare__c}"/>
      </apex:column>        
</apex:pageBlockTable>
</apex:pageBlockSection>    
</apex:pageBlock>
</apex:form>
    
</apex:page>