<apex:page standardController="Contract" extensions="DomesticDiscountController" action="{!initDisc}" lightningStylesheets="true"> 
     <style type="text/css">
        .inputf { 
        height: 10px;
        font-size:90%;
        }
        .input2f { 
        height: 10px;
        font-size:90%;
         }
        
    </style>
  <apex:form >
  
  
    <apex:pageBlock mode="edit" id="block" >

      <apex:pageMessages />
 
     <apex:sectionHeader title="{!Contract.Name}" subtitle="Edit Domestic and Regional Discounts"/>
                <p> Preview your Domestic Discounts </p>
                  <p> <b>Contract : {!Contract.name}</b> </p>
       
       <center>
      <apex:commandButton action="{!cancel}" value="               Back                   "/> 
      <apex:commandButton action="{!qsave}" value="             Quick Save                  "/> 
      <apex:commandButton action="{!save}" value="                     Save                        "/> 
        </center>
         
        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
         <apex:column headerValue="Admin Domestic" width="50">
          
          <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Is Template" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Is_Template__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Tier" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Cos Version" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
               </apex:column>
               </apex:pageBlockTable>    
        
       
   <apex:pageBlockSection >
   <apex:pageBlock mode="edit" id="block" >
   <apex:pageBlockButtons location="bottom" >
          <apex:commandButton rendered="{!IF(domFlag==0, 'TRUE', 'FALSE')}" action="{!newDom}" value="  Insert Domestic Discount Table >        "/>
          <apex:commandButton rendered="{!IF(domFlag>0, 'TRUE', 'FALSE')}" action="{!remDom}" value="  Remove Domestic Discount Table >        "/>
      </apex:pageBlockButtons>
    </apex:pageBlock>
             
<apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults))}">       
<apex:column headerValue="Eligible Fare Type" width="150">          
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>  </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Getaway"/>   </apex:column></apex:pageBlockTable> 
</apex:column>
 <apex:column headerValue="Eligible Booking Class" width="100" rendered="{!NOT(ISNULL(searchResults))}">  
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="J"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="C"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Y"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="B"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="H"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="K"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="L"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="E"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="N"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="V"/>   </apex:column></apex:pageBlockTable>                        
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Q"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="T"/>   </apex:column></apex:pageBlockTable>
</apex:column>
<apex:column headerValue="Discount %" width="100">
   
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
           <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare7__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare7__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare8__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
           <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare8__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_2__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_2__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_3__c}"/>
               </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_3__c}"/>
               </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_4__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_4__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_5__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_5__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare9__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare9__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && !NOT(isSaver)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare10__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare10__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && !NOT(isSaver)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare10__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare10__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle  && NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
            
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare11__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare11__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_12__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater) }">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_12__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_13__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater) }">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_13__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSClass)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_14__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!redCircle && (isSClass) && !NOT(isCos12Orgreater) }">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="input2f"  value="{!item.Domestic_off_Published_Fare_14__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              
     </apex:column>
            </apex:pageBlockTable>
            </apex:pageBlockSection>
            
        <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
         <apex:column headerValue="Admin Domestic Regional" width="50">
          
          <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Is Template" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Is_Template__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Tier" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Cos Version" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
            </apex:column>
            </apex:pageBlockTable></apex:column>
               </apex:pageBlockTable>
           
            <apex:pageBlockSection >
            <apex:pageBlock mode="edit" id="block" >
           <apex:pageBlockButtons location="bottom" >
          <apex:commandButton rendered="{!IF(intraFlag==0, 'TRUE', 'FALSE')}" action="{!newIntra}" value="    Insert Domestic Regional Discounts >        "/>
          <apex:commandButton rendered="{!IF(intraFlag>0, 'TRUE', 'FALSE')}" action="{!remIntra}" value="    Remove Domestic Regional Discounts >        "/>
      </apex:pageBlockButtons>
    </apex:pageBlock> 
    
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
<apex:column headerValue="Eligible Fare Type" width="150">            
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>  </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Getaway"/>   </apex:column></apex:pageBlockTable> 
</apex:column>
<apex:column headerValue="Eligible Booking Class" width="100">     
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="J"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="C"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Y"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="B"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="H"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="K"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="L"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="E"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="N"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="V"/>   </apex:column></apex:pageBlockTable>                        
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Q"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="T"/>   </apex:column></apex:pageBlockTable>
</apex:column>
<apex:column headerValue="Discount %" width="100">
     
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare8_c__c}"/>
               </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare8_c__c}"/>
               </apex:column>
            </apex:pageBlockTable>
           
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare9_c__c}"/>
               </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare9_c__c}"/>
               </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Pub_Fare10_c__c}"/>
               </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Pub_Fare10_c__c}"/>
               </apex:column>
            </apex:pageBlockTable>
              
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare2__c}"/>
               </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare2__c}"/>
               </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare3__c}"/>
               </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare3__c}"/>
               </apex:column>
            </apex:pageBlockTable>
              
               <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare4__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare4__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare5__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
               <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare5__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare7__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare7__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare11__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle  && (isSaver) && !NOT(isCos12Orgreater)}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare11__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater)}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle) && NOT(isCos12Orgreater)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare11__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle  && NOT(isCos12Orgreater)}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare11__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle) && NOT(isCos12Orgreater)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle  && NOT(isCos12Orgreater)}">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare6__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare12__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater) }">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare12__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare13__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater) }">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare13__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults)) &&  !NOT(!redCircle) && !NOT(isCos12Orgreater) && (isSaver)}">
            <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare14__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle && (isSaver) && !NOT(isCos12Orgreater) }">
            <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf"  value="{!item.Intra_WA_Discount_off_Published_Fare14__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
          
          
              
     </apex:column>
     
            </apex:pageBlockTable>
            </apex:pageBlockSection>
            
            
            
              
            
            
            <center>
      <apex:commandButton action="{!cancel}" value="               Back                   "/> 
      <apex:commandButton action="{!qsave}" value="             Quick Save                  "/> 
      <apex:commandButton action="{!save}" value="                     Save                        "/> 
        </center>
         
           
            
                 
    </apex:pageBlock>
  </apex:form>
</apex:page>