<apex:page standardController="Contract" extensions="EUEYONDSelectionController" action="{!initDisc}" lightningStylesheets="true"> 
    <style type="text/css">
        .inputf { 
        height: 10px;
        font-size:90%;
        }
        .input2f { 
        height: 10px;
        font-size:90%;
        }
        
        .inputL { 
        height: 20px;
        font-size:100%;
        
        }        
        
    </style>
 <script type="text/javascript">
window.onload = init;
 
function init() {
   tables = document.getElementsByTagName('table');
   for (i = 0; i < tables.length; i++) {
      table = tables[i];
      if (table.className == 'makeRows') {
         makeRows(table, 4);
      } 
   } 
    
}

function makeRows(table, columnCount) {
   cells = table.rows[0].cells;
   cellCount = cells.length;
   rowCount = Math.ceil(cellCount / columnCount);
  
   for (i = 0; i < rowCount; i++) {
      table.insertRow(0);
   }
   for (i = 0; i < cellCount; i++) {
      row = Math.floor(i / columnCount);
      table.rows[row].appendChild(cells[i].cloneNode(true));
   }
   table.deleteRow(rowCount);
} 
   
</script>
    <apex:form >
        
        <apex:pageBlock mode="edit" id="block"  >            
            <apex:pageMessages />
            <apex:sectionHeader title="{!Contract.Name}" subtitle="Please select the Europian Origin & Destinations for Zone 1"/>                       
            <center>
                <!--apex:commandButton action="{!cancel}" value="               Back                   "/--> 
                <apex:commandButton action="{!save}"   value="             I am Done                "/> 
            </center> 
            
            <apex:pageBlockSection columns="1" >
            <apex:pageBlockTable value="{!con}" var="item"> 
            <apex:column headerValue="Selecting Brisbane as Origin may include the following ports" width="100">     
            <center>    
            <p> BDB CNJ CNS EMD GLT ISA MCY MKY MOV OOL PPP ROK TSV </p>
            </center>   
            </apex:column>                         
            </apex:pageBlockTable> 
               <apex:pageBlockTable value="{!con}" var="item"> 
            <apex:column headerValue="Selecting Sydney as Origin may include the following ports" width="100">     
            <center>    
            <p> ABX AYQ BNE BNK CBR CFS CNS DRW HBA HTI HVB LST MCY MEL MKY NTL OOL PQQ TMW TSV</p>
            </center>   
            </apex:column>                         
            </apex:pageBlockTable> 
              <apex:pageBlockTable value="{!con}" var="item"> 
            <apex:column headerValue="Selecting Melbourne as Origin may include the following ports" width="100">     
            <center>    
            <p> HBA LST MQL </p>
            </center>   
            </apex:column>                         
            </apex:pageBlockTable>     
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" >
            <apex:pageBlockTable value="{!con}" var="item"> 
            <apex:column headerValue="Zone 1 Origin and Destinations" width="100">     
            <center>    
            <apex:selectcheckboxes borderVisible="true"  value="{!EYEUZ1ONDItems}" label=""  >                   
            <apex:selectoptions value="{!EYEUZ1ONDOptions}"  > </apex:selectoptions>       
            </apex:selectcheckboxes>
            </center>   
            </apex:column>                         
            </apex:pageBlockTable>              
            </apex:pageBlockSection>
              <center>
                <!--apex:commandButton action="{!cancel}" value="               Back                   "/--> 
                <apex:commandButton action="{!save}"   value="             I am Done                "/>                 
            </center>            
        </apex:pageBlock>
        
    </apex:form>
</apex:page>