<apex:page standardController="Contact" extensions="ExternalSharingCheckForContact" action="{!initDisc}" lightningStylesheets="true" >
<apex:form >  
<div align="center" draggable="false"  >
<apex:pageMessages id="showmsg" ></apex:pageMessages>
<apex:commandButton action="{!stopsharing}" value="       Stop Sharing         " rendered="{!recordavailable}"/>      
</div> 
</apex:form>  
</apex:page>