<apex:page standardController="Contract" extensions="InernationalDiscountEYController_v2" action="{!initDisc}" lightningStylesheets="true"> 
    <style type="text/css">
        .inputf { 
        height: 10px;
        font-size:90%;
        }
        .input2f { 
        height: 10px;
        font-size:90%;
        }
        
        .inputL { 
        height: 20px;
        font-size:100%;
        }
        
    </style>
    <apex:form >
        
        <apex:pageBlock mode="edit" id="block" >
            
            <apex:pageMessages />
            <apex:sectionHeader title="{!Contract.Name}" subtitle="Edit EY Corporate fares"/>
            <p> Edit your EY Corporate Fares </p>
            <p> <b>Contract : {!Contract.name}</b> </p>
            
            <center>
                <apex:commandButton action="{!cancel}" value="               Back                   "/> 
                <apex:commandButton action="{!qsave}" value="             Quick Save                  "/> 
                <apex:commandButton action="{!save}" value="                     Save                        "/> 
            </center>
            <center>
                <br/>
                <apex:outputLink styleClass="inputL"  value="{! URLFOR($Action.International_City_Pairs__c.new,null,[Contract=Contract.id])}">Create International City Pair</apex:outputLink>
            </center>
            
            
            <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
                <apex:column headerValue="Admin UK" width="50">
                    
                    <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
                        <apex:column headerValue="Is Template" width="50">
                            <apex:inputField styleClass="inputf"  value="{!item.IsTemplateUKEUR__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                    
                    <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
                        <apex:column headerValue="Tier" width="50">
                            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                    
                    <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!isTemplateDiscount}">
                        <apex:column headerValue="Cos Version" width="50">
                            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version_c__c}"/>
                        </apex:column>
                    </apex:pageBlockTable></apex:column>
            </apex:pageBlockTable>
            
                        
            
            <!-- 


********  HIDING INDIA SUB  ********


<apex:pageBlockTable value="{!searchResults4}" var="item" rendered="{!isTemplateDiscount}">
<apex:column headerValue="Admin Sub India" width="50">

<apex:pageBlockTable value="{!searchResults4}" var="item" rendered="{!isTemplateDiscount}">
<apex:column headerValue="Is Template" width="50">
<apex:inputField styleClass="inputf"  value="{!item.IsTemplateSubIndia__c}"/>
</apex:column>
</apex:pageBlockTable>

<apex:pageBlockTable value="{!searchResults4}" var="item" rendered="{!isTemplateDiscount}">
<apex:column headerValue="Tier" width="50">
<apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
</apex:column>
</apex:pageBlockTable>

<apex:pageBlockTable value="{!searchResults4}" var="item" rendered="{!isTemplateDiscount}">
<apex:column headerValue="Cos Version" width="50">
<apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
</apex:column>
</apex:pageBlockTable></apex:column>
</apex:pageBlockTable>            

-->
            
            <apex:pageBlockSection >
                
                
                <apex:pageBlock mode="edit" id="block" >
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton rendered="{!IF(ukEURFlag==0, 'TRUE', 'FALSE')}" action="{!newUKEur}" value="  Insert UK/Eur Corporate Fares >"/>
                        <apex:commandButton rendered="{!IF(ukEURFlag>0, 'TRUE', 'FALSE')}" action="{!remUKEur}" value="  Remove UK/Europe Corporate Fares >"/>
                    </apex:pageBlockButtons>
                </apex:pageBlock>
                
                <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults))}">       
                    
                    
                    <apex:column headerValue="Eligible Fare Type" width="150" rendered="{!NOT(ISNULL(searchResults))}">
                        
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="First"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="First"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>  </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>  </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>  </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Premium"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Premium"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
                        
                    </apex:column> 
                    
                    
                    <apex:column headerValue="VA Eligible Class" width="100" rendered="{!NOT(ISNULL(searchResults))}">
                        
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="-"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="F"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="J"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="-"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="C"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="W"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="R"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Y"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="B"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="H"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="K"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="L"/>   </apex:column></apex:pageBlockTable>
                        
                    </apex:column>    
                    
                    
                    <apex:column headerValue="EY Eligible Class" width="100" rendered="{!NOT(ISNULL(searchResults))}">
                        
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="F"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="A"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="J"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="C"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="-"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="-"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Y"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="B"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="H"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="K"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item">   <apex:column headerValue="" >      <apex:outputText value="M"/>   </apex:column></apex:pageBlockTable>
                        
                    </apex:column>
                    
                    <apex:column headerValue="Discount %" width="100">
                        
                        <!--Redcircle -->
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_001__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_002__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_004__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_005__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_006__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_007__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_008__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_010__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_011__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_012__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_013__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && UkDiscountAvailable}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_014__c}"/>   </apex:column></apex:pageBlockTable>
                        
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_001__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_002__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_004__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_005__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_006__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_007__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_008__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_010__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_011__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_012__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_013__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && redCircle && NOT(UkDiscountAvailable)}">   <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_014__c}"/>   </apex:column></apex:pageBlockTable>
                        
                        
                        
                        <!--Standard -->
                        
                        
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_001__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_002__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_004__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_005__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_006__c}"/>   </apex:column></apex:pageBlockTable>                        
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_007__c}"/>   </apex:column></apex:pageBlockTable>                        
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_008__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_010__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_011__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_012__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_013__c}"/>   </apex:column></apex:pageBlockTable>
                        <apex:pageBlockTable value="{!searchResults}" var="item" rendered="{!NOT(ISNULL(searchResults)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_014__c}"/>   </apex:column></apex:pageBlockTable>
                        
                    </apex:column>
                    
                    
                    
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            
            
          
            <center>
                <apex:commandButton action="{!cancel}" value="               Back                   "/> 
                <apex:commandButton action="{!qsave}" value="             Quick Save                  "/> 
                <apex:commandButton action="{!save}" value="                     Save                        "/> 
                
            </center>
            <center>
                <apex:outputLink value="{! URLFOR($Action.International_City_Pairs__c.new)}">Create International City Pair</apex:outputLink>
            </center>
            
            
        </apex:pageBlock>
    </apex:form>
</apex:page>