<apex:page standardController="Contract" extensions="InernationalDiscountEYController" action="{!initDisc}" lightningStylesheets="true"> 
 <style type="text/css">
        .inputf { 
        height: 10px;
        font-size:90%;
        }
        .input2f { 
        height: 10px;
        font-size:90%;
         }
         
         .inputL { 
        height: 20px;
        font-size:100%;
         }
        
       
    
    </style>
  <apex:form >
   
  
    <apex:pageBlock mode="edit" id="block" >

      <apex:pageMessages />
              <apex:sectionHeader title="{!Contract.Name}" subtitle="Edit EY Corporate fares"/>
               <p> Edit your EY Corporate Fares </p>
                 <p> <b>Contract : {!Contract.name}</b> </p>
       
       <center>
      <apex:commandButton action="{!cancel}" value="               Back                   "/> 
      <apex:commandButton action="{!qsave}" value="             Quick Save                  "/> 
      <apex:commandButton action="{!save}" value="                     Save                        "/> 
        </center>
        <center>
        <br/>
        <apex:outputLink styleClass="inputL"  value="{! URLFOR($Action.International_City_Pairs__c.new,null,[Contract=Contract.id])}">Create International City Pair</apex:outputLink>
           </center>
         
         <apex:pageBlockTable value="{!searchResults3}" var="item" rendered="{!isTemplateDiscount}">
         <apex:column headerValue="Admin Africa" width="50">
          
          <apex:pageBlockTable value="{!searchResults3}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Is Template" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.IsTemplateAfrica__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults3}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Tier" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults3}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Cos Version" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
            </apex:column>
            </apex:pageBlockTable></apex:column>
               </apex:pageBlockTable>
               
               <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
         <apex:column headerValue="Admin Asia" width="50">
          
          <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Is Template" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.IsTemplateAsia__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Tier" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Cos Version" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
            </apex:column>
            </apex:pageBlockTable></apex:column>
               </apex:pageBlockTable>
               
               <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!isTemplateDiscount}">
         <apex:column headerValue="Admin ME" width="50">
          
          <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Is Template" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.IsTemplateME__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Tier" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!isTemplateDiscount}">
             <apex:column headerValue="Cos Version" width="50">
            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
            </apex:column>
            </apex:pageBlockTable></apex:column>
               </apex:pageBlockTable>
     
     
     
      <apex:pageBlockSection > 
     
      <apex:pageBlock mode="edit" id="block" >
             <apex:pageBlockButtons location="bottom">
         <apex:commandButton rendered="{!IF(meFlag==0, 'TRUE', 'FALSE')}" action="{!newME}" value="  Insert Middle East Corporate Fares >"/>
         <apex:commandButton rendered="{!IF(meFlag>0, 'TRUE', 'FALSE')}" action="{!remME}" value="  Remove Middle East Corporate Fares >"/>
         </apex:pageBlockButtons>
         </apex:pageBlock>
       
       <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">       
     
      
      <apex:column headerValue="Eligible Fare Type" width="100"> 
             
              <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_F_First_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_C_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_D_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_I_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_W_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_R_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

     
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_R_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_Y_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

     
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_Y_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_B_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_B_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_H_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

     
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_H_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_K_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
     
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_K_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_L_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Eligible_Fare_Type_L_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
      </apex:column>
   
        
            
   
   
     <apex:column headerValue="Eligible Booking Class" width="100">
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_F_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            
           
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
           
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_C_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_D_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_I_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_W_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_R_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_R_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
                
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_Y_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_Y_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_B_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_B_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_H_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_H_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_K_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_K_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_L_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Booking_Class_L_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
           
            
    </apex:column>
    
     <apex:column headerValue="Published Fare $" width="100" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
     
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_C_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_D_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_W_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
           
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_R_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_R_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_Y_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_Y_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_B_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_B_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_H_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_H_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_K_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_K_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_L_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYME_Published_Fare_L_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             </apex:column>
     
      <apex:column headerValue="Discount %" width="100">
      
           <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_F_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
           <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_C_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
             
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_D_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_I_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_W_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_R_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
              
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_R_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_Y_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
              
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_Y_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_B_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_B_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_H_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_H_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_K_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
 
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_K_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_L_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             
         
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYMEDiscOffPublishedFare_L_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
              
               
              
                  
     </apex:column>
     
     <apex:column headerValue="Corporate fare $" width="100" rendered="{!NOT(ISNULL(searchResults2)) &&  NOT(isCos13)}">
      
           <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_C_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_C_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
             
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_D_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_D_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_W_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_W_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_R_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_R_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_R_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_R_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_Y_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_Y_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_Y_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_Y_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_B_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_B_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_B_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_B_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_H_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_H_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            

            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_H_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_H_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_K_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_K_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_K_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_K_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_L_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_L_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!NOT(ISNULL(searchResults2))&&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_L_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults2}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_L_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
                  
     </apex:column>
            </apex:pageBlockTable>
            </apex:pageBlockSection>
     
     
    
    
    
    <apex:pageBlockSection >
       
     
      <apex:pageBlock mode="edit" id="block" >
             <apex:pageBlockButtons location="bottom">
         <apex:commandButton rendered="{!IF(asiaFlag==0, 'TRUE', 'FALSE')}" action="{!newAsia}" value="  Insert Asia Corporate Fares >"/>
         <apex:commandButton rendered="{!IF(asiaFlag>0, 'TRUE', 'FALSE')}" action="{!remAsia}" value="  Remove Asia Corporate Fares >"/>
         </apex:pageBlockButtons>
         </apex:pageBlock>
       
       <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">       
     
      
      <apex:column headerValue="Eligible Fare Type" width="100"> 
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYUKEU_Eligible_Fare_Type_F_First__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_C_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_D_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_I_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
         
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_Y_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_Y_ShouldeClass__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_Y_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_B_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_B_ShouldeClass__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_B_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_H_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_H_ShouldeClass__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_H_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_K_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_K_ShouldeClass__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_K_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) }">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_L_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_L_ShouldeClass__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Eligible_Fare_Type_L_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
     
      </apex:column>
   
        
            
   
   
     <apex:column headerValue="Eligible Booking Class" width="100">
     
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_F_First__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
           
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_C_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_D_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_I_class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
                
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_Y_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_Y_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_Y_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_B_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_B_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_B_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_H_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_H_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_H_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_K_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_K_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_K_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_L_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_L_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Booking_Class_L_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
           
            
    </apex:column>
    
     <apex:column headerValue="Published Fare $" width="100" rendered="{!NOT(ISNULL(searchResults1)) &&   NOT(isCos13)}">
     
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_C_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_D_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
           
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_Y_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_Y_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_Y_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_B_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_B_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_B_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_H_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_H_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_H_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_K_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_K_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_K_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_L_High_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_L_Shoulder_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
            <apex:inputField styleClass="inputf" value="{!item.EYASIA_Published_Fare_L_Low_Class__c}"/>
            </apex:column>
            </apex:pageBlockTable>
            
             </apex:column>
     
      <apex:column headerValue="Discount %" width="100">
      
      <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))  &&  !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_F_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
      
           <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYAsiaDiscOffPublishedFare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_C_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_D_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && !NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_I_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_Y_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_Y_Shou_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_Y_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_B_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_B_Shou_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_B_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_H_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_H_Shou_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_H_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_K_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_K_Shou_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_K_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_L_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_L_Shou_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>  
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.EYASIADiscOffPublishedFare_L_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable> 
              
               
              
                  
     </apex:column>
     
     <apex:column headerValue="Corporate fare $" width="100" rendered="{!NOT(ISNULL(searchResults1)) &&  NOT(isCos13)}">
      
           <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
              <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_C_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_C_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
             
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_D_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_D_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_Y_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_Y_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_Y_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_Y_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_Y_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_Y_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_B_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_B_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_B_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_B_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_B_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_B_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_H_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_H_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_H_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_H_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_H_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_H_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_K_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
             <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_K_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_K_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_K_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_K_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_K_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_L_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_L_High_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_L_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_L_Shoulder_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) &&  !NOT(!redCircle)}">
             <apex:column headerValue="" width="150">
              <apex:outputField styleClass="inputf" value="{!item.Corporate_Fare_L_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!redCircle}">
             <apex:column headerValue="" width="150">
              <apex:inputField styleClass="inputf" value="{!item.Corporate_Fare_L_Low_Class__c}"/>
              </apex:column>
            </apex:pageBlockTable>
              
                  
     </apex:column>
            </apex:pageBlockTable>
            </apex:pageBlockSection>
    
    
   
    
             <center>
      <apex:commandButton action="{!cancel}" value="               Back                   "/> 
      <apex:commandButton action="{!qsave}" value="             Quick Save                  "/> 
      <apex:commandButton action="{!save}" value="                     Save                        "/> 
      
        </center>
         <center>
        <apex:outputLink value="{! URLFOR($Action.International_City_Pairs__c.new)}">Create International City Pair</apex:outputLink>
           </center>
            
                 
    </apex:pageBlock>
  </apex:form>
</apex:page>