<apex:page title="Flight Capacity" controller="FlightCapacityController" showHeader="false" sidebar="false">
    <style>
        .loading
        {
        width:98%;
        height: 98%;
        top:0;left:0;
        position: absolute;
        background:url('/img/loading.gif') no-repeat center #fff;
        text-align:center;
        padding:10px;
        font:normal 16px Tahoma, Geneva, sans-serif;
        border:1px solid #666;
        z-index:2;
        overflow: auto;
        opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
        }
    </style>
    <apex:form id="form">
        <apex:pageBlock id="searchTable" title="Flight Capacity Details" mode="edit">
	        <apex:pageMessages />
            <apex:pageBlockButtons location="top" dir="RTL">
                <apex:commandButton value="Close" onclick="top.window.close(); return false;"/>
                <apex:commandButton value="Search" action="{!searchCapacity}" status="SearchingStatus" reRender="searchTable"/>
            </apex:pageBlockButtons>

            <apex:actionStatus startStyleClass="loading" id="SearchingStatus"/>

            <apex:pageBlockSection id="blockSection" columns="1" collapsible="false" showHeader="false">
                <apex:inputField id="flightNum" label="Flight Number" value="{!caseObj.Flight_Number__c}" required="true"/>
                <apex:inputField id="flightDate" label="Flight Date" value="{!caseObj.Flight_Date__c}" required="true"/>
            </apex:pageBlockSection>

            <apex:pageBlockTable value="{!flightCapacityList}" var="item" rendered="{!NOT(ISNULL(flightCapacityList))}">
                <apex:column value="{!item.Origin}" headerValue="Origin"/>
                <apex:column value="{!item.Destination}" headerValue="Dest"/>
                <apex:column value="{!item.EquipmentType}" headerValue="EquipType"/>
                <apex:column value="{!item.DepartureDateTime}" headerValue="Depart Time"/>
                <apex:column value="{!item.CabinClass}" headerValue="CabinClass"/>
                <apex:column value="{!item.ActualSeatCapacity}" headerValue="Actual Seats"/>
                <apex:column value="{!item.AuthorisedSeatCapacity}" headerValue="Authorised Seats"/>
                <apex:column value="{!item.SeatsSold}" headerValue="Sold Seats"/>
                <apex:column value="{!item.AvailableSeats}" headerValue="Available Seats"/>
            </apex:pageBlockTable>
            <apex:outputLabel value="No records to display"
                rendered="{!(ISNULL(flightCapacityList))}" styleClass="noRowsHeader">
            </apex:outputLabel>
        </apex:pageBlock>
    </apex:form>
</apex:page>