<apex:page standardController="Contract" extensions="InternationalLONDiscountController" action="{!initDisc}" lightningStylesheets="true">
    <style type="text/css">
        .inputf {
        height: 10px;
        font-size: 90%;
        }
        
        .input2f {
        height: 10px;
        font-size: 90%;
        }
    </style>
    <apex:form >
        
        
        <apex:pageBlock mode="edit" id="block">
            
            <apex:pageMessages />
            
            <apex:sectionHeader title="{!Contract.Name}"
                                subtitle="Edit your International Short-Haul Discounts " />
            <p>Preview International VA/VS Discounts</p>
            <p>
                <b>Contract : {!Contract.name}</b>
            </p>            
         
            
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
                <apex:column headerValue="Admin LON Discounts" width="50">
                    
                    <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
                        <apex:column headerValue="Is Template" width="50">
                            <apex:inputField styleClass="inputf"  value="{!item.Is_Template__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                    
                    <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
                        <apex:column headerValue="Tier" width="50">
                            <apex:inputField styleClass="inputf"  value="{!item.Tier__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                    
                    <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!isTemplateDiscount}">
                        <apex:column headerValue="Cos Version" width="50">
                            <apex:inputField styleClass="inputf"  value="{!item.Cos_Version__c}"/>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:column>
                </apex:pageBlockTable>
               <center>
                <apex:commandButton action="{!cancel}"
                                    value="               Cancel                   " />
                <apex:commandButton action="{!qsave}"
                                    value="             Quick Save                  " />
                <apex:commandButton action="{!save}"
                                    value="                     Save                        " />
            </center>
              <apex:pageBlockSection >
                <apex:pageBlock mode="edit" id="block">
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton rendered="{!IF(lonFlag==0, 'TRUE', 'FALSE')}"
                                            action="{!newLONDiscounts}"
                                            value=" Insert LON Discount table > " />
                        <apex:commandButton rendered="{!IF(lonFlag>0, 'TRUE', 'FALSE')}"
                                            action="{!remLONDiscounts}"
                                            value=" Remove LON Discount table > " />
                    </apex:pageBlockButtons>
                </apex:pageBlock>
            
             
            <apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
 
<apex:column headerValue="Routes" width="100">
           
            <apex:outputText styleClass="inputf" value="London (via HKG)"/>
</apex:column>
 
<apex:column headerValue="Eligible Fare Type" width="150" rendered="{!NOT(ISNULL(searchResults1))}">


<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>  </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">  <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Tactical"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>                       
</apex:column> 
   
   
<apex:column headerValue="VA Eligible Class" width="100" rendered="{!NOT(ISNULL(searchResults1))}">
                        

<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="J"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="C"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D (Yr Round)"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D 10AP"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D 50AP"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="I (Yr Round & 21AP)"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="I (50AP & 120AP)"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="I*"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Y"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="B"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="H"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="K"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="L"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="E"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="N"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="V"/>   </apex:column></apex:pageBlockTable>                        
</apex:column>    

    
<apex:column headerValue="Discount %" width="100">

<!--RedCircle --> 

<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">  <apex:column headerValue="">      <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_01__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">  <apex:column headerValue="">      <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_02__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle }">  <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_03__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_04__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_05__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_06__c}"/>   </apex:column></apex:pageBlockTable>         
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_16__c}"/>   </apex:column></apex:pageBlockTable>  
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_07__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle }">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_08__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle }">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_09__c}"/>   </apex:column></apex:pageBlockTable> 
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_10__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_11__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_12__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_13__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_14__c}"/>   </apex:column></apex:pageBlockTable>         
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_15__c}"/>   </apex:column></apex:pageBlockTable>          


<!--Standard -->

         

<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_01__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_02__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_03__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_04__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_05__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_06__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_16__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_07__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_08__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_09__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_10__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_11__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_12__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_13__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_14__c}"/>   </apex:column></apex:pageBlockTable>              
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_15__c}"/>   </apex:column></apex:pageBlockTable>           
</apex:column>
</apex:pageBlockTable>

<apex:pageBlock id="block2">
          
</apex:pageBlock>

<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1))}">
 
<apex:column headerValue="Routes" width="100">
           
            <apex:outputText styleClass="inputf" value="London (via LAX)"/>
</apex:column>
 
<apex:column headerValue="Eligible Fare Type" width="150" rendered="{!NOT(ISNULL(searchResults1))}">


<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>  </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">  <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Saver"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Business Tactical"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Freedom"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" width="270">      <apex:outputText value="Elevate"/>   </apex:column></apex:pageBlockTable>                       
</apex:column> 
   
   
<apex:column headerValue="VA Eligible Class" width="100" rendered="{!NOT(ISNULL(searchResults1))}">
                        

<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="J"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="C"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D (Yr Round)"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D 10AP"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="D 50AP"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="I (Yr Round & 21AP)"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="I (50AP & 120AP)"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="I*"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="Y"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="B"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="H"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="K"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="L"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="E"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="N"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item">   <apex:column headerValue="" >      <apex:outputText value="V"/>   </apex:column></apex:pageBlockTable>                        
</apex:column>    

    
<apex:column headerValue="Discount %" width="100">

<!--RedCircle --> 

<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">  <apex:column headerValue="">      <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_01__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">  <apex:column headerValue="">      <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_02__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle }">  <apex:column headerValue="">      <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_03__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_04__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_05__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_06__c}"/>   </apex:column></apex:pageBlockTable>         
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_16__c}"/>   </apex:column></apex:pageBlockTable>  
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_07__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle }">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_08__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle }">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_09__c}"/>   </apex:column></apex:pageBlockTable> 
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf"  value="{!item.DiscOffPublishFare_10__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_11__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_12__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_13__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_14__c}"/>   </apex:column></apex:pageBlockTable>         
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && redCircle}">   <apex:column headerValue="">     <apex:inputField styleClass="inputf" value="{!item.DiscOffPublishFare_15__c}"/>   </apex:column></apex:pageBlockTable>          


<!--Standard -->

         

<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_01__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_02__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_03__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_04__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_05__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_06__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_16__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_07__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_08__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_09__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_10__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_11__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_12__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_13__c}"/>   </apex:column></apex:pageBlockTable>
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_14__c}"/>   </apex:column></apex:pageBlockTable>              
<apex:pageBlockTable value="{!searchResults1}" var="item" rendered="{!NOT(ISNULL(searchResults1)) && NOT(redCircle)}">   <apex:column headerValue="">      <apex:outputField styleClass="inputf" value="{!item.DiscOffPublishFare_15__c}"/>   </apex:column></apex:pageBlockTable>           
</apex:column>              
</apex:pageBlockTable>
    </apex:pageBlockSection>                     
</apex:pageBlock> 
    </apex:form>
</apex:page>