<apex:page controller="LandingPageController" sidebar="false" showheader="false" standardStylesheets="true">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script> 


j$ = jQuery.noConflict(); 

j$(document).ready(function() {
	

	j$('#userNavButton').css('background','#36424A');

	j$(".account").click(function()
	{
		var X=j$(this).attr('id');
		if(X==1)
		{
			j$(".submenu").hide();
			j$(this).attr('id', '0');
			j$(this).css('background','#36424A');
			j$(this).css('color','#FFFFFF'); 
			j$('#image_arrow').attr('src','{!$Resource.intranet_Arrow}');
		}
		else
		{
			j$(".submenu").show();
			j$(this).attr('id', '1');
			if (!(j$.browser.msie  && (parseInt(j$.browser.version, 10) === 7 || parseInt(j$.browser.version, 10) === 8)))
			{
				j$(this).css('background','#FFFFFF');
				j$(this).css('color','#36424A');
			}
			j$('#image_arrow').attr('src','{!$Resource.intranet_ArrowSelected}');
		}
		
	});

	//Mouse click on sub menu
	j$(".submenu").mouseup(function()
	{
	return false
	});
	
	//Mouse click on my account link
	j$(".account").mouseup(function()
	{
		return false
	});

	//Mouse hover on my account link
	j$(".account").mouseover(function()
	{
		j$(this).css('color','#BFBFBF');
		j$('#image_arrow').attr('src','{!$Resource.intranet_ArrowOver}');
		
		return false
	});	

	//Mouse out on my account link
	j$(".account").mouseout(function()
	{
		var X=j$(this).attr('id');
		if(X==1)
		{
			if (j$.browser.msie  && (parseInt(j$.browser.version, 10) === 7 || parseInt(j$.browser.version, 10) === 8)) {
				j$(this).css('color','#FFFFFF');
			}
			else {
				j$(this).css('color','#36424A');
			}
			j$('#image_arrow').attr('src','{!$Resource.intranet_ArrowSelected}');
		}
		else
		{
			j$(this).css('color','#FFFFFF');
			j$('#image_arrow').attr('src','{!$Resource.intranet_Arrow}');
		}
		return false
	});	
		
	//Document Click
	j$(document).mouseup(function()
	{
		j$(".submenu").hide();
		j$(".account").attr('id', '');
		j$(".account").css('background','#36424A');
		j$(".account").css('color','#FFFFFF'); 
		j$('#image_arrow').attr('src','{!$Resource.intranet_Arrow}');

	});
	
	//alert(j$.browser.version);
	if (j$.browser.msie  && (parseInt(j$.browser.version, 10) === 7 || parseInt(j$.browser.version, 10) === 8)) {
  		//alert('IE7 or IE8'); 
  		//j$('.welcome').css('padding-top','-40px');
  		j$('#content').css('min-height','800px');
  		
	} else {
		//alert('non IE7 or 8');
		j$('.welcome').css('padding-top','20px');
  		j$('#content').css('min-height','800px');
  		j$('.noInternetExplorer').css('display','block');
	}
	
});

 </script>

 
<style>
/* Virgin Fonts */
@font-face {
	font-family: 'ProximaNovaA-Regular';
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovaa_eot.eot");
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovaa_eot.eot?") format('embedded-opentype'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovaa_woff.woff") format('woff'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovaa_ttf.ttf") format('truetype'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovaa_svg.svg") format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'ProximaNovaS-Regular';
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovas_eot.eot");
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovas_eot.eot?") format('embedded-opentype'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovas_woff.woff") format('woff'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovas_ttf.ttf") format('truetype'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanovas_svg.svg") format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanova_eot.eot");
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanova_eot.eot?") format('embedded-opentype'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanova_woff.woff") format('woff'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanova_ttf.ttf") format('truetype'), url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_proximanova_svg.svg") format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

/* Other Typography
 ----------------------------------------------------*/

@font-face {
	font-family: DroidSans;
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_droidsans.ttf?") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: DroidSans;
	src: url("https://www.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_droidsansbold.ttf?") format("opentype");
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}


</style> 


<style>
       
    body {
        text-decoration: none !important;
    }
 
 	a {
    	text-decoration: none;
	}

 	a:hover {
    	text-decoration: none !important;
	}
	   
    #content {
        width:980px;
        position:relative;
        margin: 0 auto;
    }
    
    #headerDiv {
        width: 100%;
        background: url('https://img.virginaustralia.com/cs/groups/internetcontent/@wc/documents/webcontent/~edisp/new-virginaustralia-logo.gif?v3.2.0=') no-repeat;
        height:68px;
    }
    
    #bodyDiv {
        width:100%;
    }
    
    #leftColumn {
        float:left;
        width:20%;
    }
    
    #middleColumn {
        float:left;
        width:60%;
        padding-top: 10px;
    }
    
    #rightColumn {
        float:left;
        width:20%;
    }
    
    #navigation li {
        display: inline;
        list-style-type: none;
        margin-left: 0;
    }

	.arrowdown {
		background: url(/img/alohaSkin/header_mutton.png) 0 -129px no-repeat;
		width: 8px;
		height: 5px;
		position: absolute;
		right: 7px;
		margin-right: 7px;
		top: 30px;	
		margin: 0;
		padding: 0;
		font-size: 1.1em;
		color: #fff;
		line-height: 24px;
		cursor: pointer;
		text-align: left;
	}
	
    .componentHeader {
        background: url('{!$Resource.intranet_tabBack}') repeat-x;
        padding:2px;
        height: 38px;
        margin-bottom: 10px;
        border-right: 1px solid gainsboro;
        border-left: 1px solid gainsboro;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -border-radius:6px;
        font-family: ProximaNovaA-Regular,Arial,sans-serif;
        
    }   
    
    .componentHeader a {
        color: #40403f;
        font-weight:bold;
        padding:13px;
        text-shadow: 1px 1px 1px white;
        text-decoration: none;
        font-size:12px;
    }
           
    .componentHeader {
        padding:12px;
        height: 18px;
        padding: 12px;
        width: 200px;
        position: relative;
        margin: 0 auto;
    }
    
    #companyPolicies {
        clear:both;     
    }

	#currentdate {
   		font-family: ProximaNovaA-Regular,Arial,sans-serif;
   		font-weight:bold;
   		color: #40403f;
 		padding-top: 40px;
 		padding-bottom: 10px;
 		
	}
	
	.staffNotification {
   		font-family: ProximaNovaA-Regular,Arial,sans-serif;
   		color: #40403f;
 		padding-top: 5px;
 		padding-bottom: 5px;
 		font-weight:bold;
 		font-size:12px;
 		margin-top: 5px;
 		margin-bottom: 5px;
	}
	    
    .sidebarblock{
    	background: url('{!$Resource.intranet_purple_button}') no-repeat;
    	font-family: ProximaNovaA-Regular,Arial,sans-serif;
    	color: white;
    	padding-top: 20px;
    	/*padding-bottom: 20px;*/
    	font-size:14px;
    	margin-top: 5px;
    	/*margin-bottom: 5px;*/
    	height: 40px;
    	font-weight:bold;
    }

    .sidebarblock a{
     	color: white;
     	text-decoration: none;
    }
     
    .sidebarblock a:hover{
     	color: #D1D4D3; /* Light grey */
     	text-decoration: none;
     	cursor: pointer;
    }
        
    /***popup****/
    #pContent iframe {
        position:absolute;
        width:631px !important;
        height:590px !important;
        overflow:hidden;
        scrolling:none;
    }
    
    #chatterDiv {
        background:none;
        /*height:570px !important;*/
        width:631px;
        overflow:hidden;
        scrolling:none;
        
    }
    
    .text-copyright{
        color: #fff;
        font-size: 1.0em;
        padding-top: 13px;
    }
    
	.menu_div{
		position: relative;
		float: right;
		width: 100%;
		z-index: 39;
		font-family: ProximaNovaA-Regular,Arial,sans-serif;
		color: #36424A;
		font-size: 75%;
	}
	
	.menu_ul{
		background: url("https://css.virginaustralia.com/images/tabs/tab_bg_unselected.gif") repeat scroll 0 0 transparent;
		font-family: ProximaNovaA-Regular,Arial,sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		letter-spacing: .001em;
		display: block;
	}
	  
	.menu_li_selected{
		background: #fff;
		border-top: 3px solid #be0f34;
		border-left: none;
		border-right: 0;
		height: 43px;
		line-height: 43px;
		margin-bottom: 0;
		float: left;
		list-style: none;
		position: relative;
		top: 0;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		outline: 0 none;
		vertical-align: baseline;	
	}
	  
	.menu_li{
		float: left;
		border-left: 1px solid #353d43;
		border-right: 1px solid #545e65;
		list-style: none;
		position: relative;
		top: 0;
		margin: 0;
		padding: 0;
		white-space: nowrap;	
		outline: 0 none;
		vertical-align: baseline;		
	}
	      
	.menu_li_selected a{
		cursor: text;
		color: #be0f34;
		margin-top: -3px;		
		height: 46px;
		line-height: 43px;
		padding: 0 18px;
		float: left;
		text-decoration: none;
		background: none repeat scroll 0 0 transparent;
		outline: 0 none;
		vertical-align: baseline;
		list-style: none;
		white-space: nowrap;	
	}
	 
	.menu_li a{
		color: #e1e1e1;
		height: 46px;
		line-height: 43px;
		padding: 0 18px;
		cursor: pointer;
		float: left;
		text-decoration: none;
		background: none repeat scroll 0 0 transparent;
		outline: 0 none;
		vertical-align: baseline;
		list-style: none;
		white-space: nowrap;
	}

	.menu_li_selected a:hover{
		text-decoration: none;
	}
		
	.menu_li a:hover{
		color: #bfbfbf;
		text-decoration: none;
	}

	/* Drop down menu */

  .welcome{
    	font-family: ProximaNovaA-Regular,Arial,sans-serif;
    	float: right;
    	font-weight: bold;
    	font-size: 1.1em;
    	padding-top: -80px;
    	z-index: 99996;
    	
    }
 
	.username {
		font-weight: bold;
		min-width: 100px;
		border: 0;
		font-size: 1.0em;
		color: #FFFFFF;
		background: #36424A;
		height: 24px;
		line-height: 24px;
		padding: 0 15px;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
		border-radius: 11px;
		display: inline-block;
		margin: 0;
	}

	.usernamelink {
		color:#FFFFFF;
	}
	
    .username a:link{
    	color:#FFFFFF;
    	text-decoration:none
    }

    .username a:hover{
    	color:#bfbfbf;
    	text-decoration:none
    }
    
	.dropdown 
	{
		color: #555;
		margin: 3px -22px 0 0;
		width: 143px;
		position: relative;
		height: 17px;
		text-align:left;
		text-decoration: none;
		z-index: 99997;
	}
	
	.submenu
	{
		background: #fff;
		position: absolute;
		top: -12px;
		left: -20px;
		z-index: 99998;
		width: 135px;
		display: none;
		margin-left: 10px;
		padding: 40px 0 5px;
		border-radius: 6px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
	}
	
	.dropdown li a 
	{
		color: #555555;
		display: block;
		font-family: arial;
		font-weight: bold;
		padding: 6px 15px;
		cursor: pointer;
		text-decoration:none;
	}
	
	.dropdown li a:hover
	{
		background:#bfbfbf;
		color: #FFFFFF;
		text-decoration: none;
	}
	
	a.account 
	{
		font-size: 11px;
		color: #FFFFFF;
		position: absolute;
		z-index: 99999;
		display: block;
		text-decoration: none;
		background: #36424A;
		cursor:pointer;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
		border-radius: 11px;
		height: 24px;
		line-height: 24px;
		padding: 0 15px;
	}

    .account a:hover{
    	text-decoration:none;
    	color: #bfbfbf !important;
    }
        
	.root
	{
		list-style:none;
		margin:0px;
		padding:0px;
		font-size: 11px;
		padding: 11px 0 0 0px;
		border-top:1px solid #dedede;
	}

    
</style>

<!--[if lte IE 8]> 

<style>
	.account a:hover{
    	text-decoration:none;
    	color: #FFFFFF !important;
    }
    
    .dropdown 
	{
		width: auto;
	}

</style>
    
<![endif]-->

<!--[if IE 7]> 

<style>
	.welcome 
	{
		position:absolute;
	}
</style>
    
<![endif]-->

<!--[if IE 8]> 

<style>
	.welcome 
	{
		position:relative;
	}
</style>
    
<![endif]-->
    
    <div id="content" >

     
        <div id="header-velocity" style="height: 100px; background-image: url('https://css.virginaustralia.com/images/header/header-bg.gif');">
            <div id="site_logo"> 
            	<a href="./"><img style="padding-top: 28px;" src="https://img.virginaustralia.com/cs/groups/internetcontent/@wc/documents/webcontent/~edisp/new-virginaustralia-logo.gif?v3.2.0=" alt="New Virgin Australia Logo "/></a>

<!--[if lte IE 8]> 
	            <div class="welcome" style="padding-top:10px;right:10px;">

  				<div class="dropdown" style="border-collapse:collapse;margin-right:0px;display:inline-block;position:relative;">
  			
	
					<div style="min-width:60px;white-space:nowrap;text-align:left;margin-right:0px;margin-left:15px;padding-right:0px;height:24px;line-height:24px;">
		  				<span><a class="account" style="position:relative;padding-left:0px;padding-right:0px;">{!$User.FirstName} {!$User.LastName} <img id="image_arrow" style="vertical-align: middle;" src="{!$Resource.intranet_Arrow}"/></a> </span>
						<div style="position:absolute;top:0px;width:15px;height:24px;padding:0;background-image: url('{!$Resource.intranet_Sprite}'); background-position-x:-17px; background-position-y:-240px; background-repeat: no-repeat; right: -15px;"></div>
		  				<div style="position:absolute;top:0px;width:15px;height:24px;padding:0;background-image: url('{!$Resource.intranet_Sprite}'); background-position-x:left; background-position-y:-240px; background-repeat: no-repeat; left: 0px;"></div>
						<div style="background-color: #36424A;position:absolute;"></div>						
					</div>
									
					<div class="submenu" style="border-left-color:#8ec3d4;border-left-width:1px;border-left-style:solid;border-top-color:#8ec3d4;border-top-width:0px;border-top-style:solid;border-bottom-color:#8ec3d4;border-bottom-width:0px;border-bottom-style:solid;border-right-color:#8ec3d4;border-right-width:1px;border-right-style:solid;top:36px;padding-top:0px">

						<div style="background-image: url('{!$Resource.intranet_Sprite}'); background-position-x:0px; background-position-y:-72px; background-repeat: no-repeat; left: -4px; top: -11px; width: 11px; height:12px;position:absolute;background-color:transparent;" ></div>
						<div style="border-top-color:#8ec3d4; border-top-width:1px; border-top-style:solid; background-color:rgb(255,255,255); left: 7px; top: -11px; width: auto; right: 10px; height:12px;position:absolute;" ></div>
						<div style="background-image: url('{!$Resource.intranet_Sprite}'); background-position-x:-16px; background-position-y:-72px; background-repeat: no-repeat; right: -1px; top: -11px; width: 11px; height:12px;position:absolute;background-color:transparent;" ></div>

						<div style="padding-top:0px;">
							<ul class="root">
								<li style="margin-left: 0px;" ><a href="/_ui/core/userprofile/UserProfilePage" >My Profile</a></li>
								<li style="margin-left: 0px;" ><a href="/setup/forcecomHomepage.apexp?setupid=ForceCom">Setup</a></li>
								<li style="margin-left: 0px;" ><a href="/secur/logout.jsp" >Logout</a></li>
							</ul>
						</div>
						<div style="background-image: url('{!$Resource.intranet_Sprite}'); background-position-x:0px; background-position-y:-84px; background-repeat: no-repeat; left: -4px; bottom: -11px; width: 11px; height:12px;position:absolute;background-color:transparent;" ></div>
						<div style="border-bottom-color:#8ec3d4; border-bottom-width:1px; border-bottom-style:solid; background-color:rgb(255,255,255); left: 7px; bottom: -11px; width: auto; right: 10px; height:12px;position:absolute;" ></div>
						<div style="background-image: url('{!$Resource.intranet_Sprite}'); background-position-x:-16px; background-position-y:-84px; background-repeat: no-repeat; right: -1px; bottom: -11px; width: 11px; height:12px;position:absolute;background-color:transparent;" ></div>
					</div>
					
				</div>
				
				</div>
<![endif]-->

	            <div class="welcome noInternetExplorer" style="display:none;">

  				<div class="dropdown">
					<a class="account" >{!$User.FirstName} {!$User.LastName} <img id="image_arrow" style="vertical-align: middle;" src="{!$Resource.intranet_Arrow}"/></a>
					<div class="tsid-buttonArrow mbrButtonArrow" id="tsid-arrow"></div>
					<div class="submenu">
						<ul class="root">
						<li style="margin-left: 0px;" ><a href="/_ui/core/userprofile/UserProfilePage" >My Profile</a></li>
						<li style="margin-left: 0px;" ><a href="/setup/forcecomHomepage.apexp?setupid=ForceCom">Setup</a></li>
						<li style="margin-left: 0px;" ><a href="/secur/logout.jsp" >Logout</a></li>
						</ul>
					</div>
				</div>
				
				</div>
	            	<!--  <div class="username"><a class="usernamelink" href="/_ui/core/userprofile/UserProfilePage?u={!$User.Id}">{!$User.FirstName} {!$User.LastName}</a><div class="arrowdown"></div>
	        		</div>
	        		-->
	        		<!-- 
					<div class="menuButton menuButtonRounded" id="userNav" title="User menu for {!$User.FirstName} {!$User.LastName}" style=""><div class="menuButtonButton" id="userNavButton"><span class="menuButtonLabel" id="userNavLabel" tabindex="0" style="font-family: ProximaNovaA-Regular,Arial,sans-serif;">{!$User.FirstName} {!$User.LastName}</span><div class="userNav-buttonArrow mbrButtonArrow" id="userNav-arrow"></div><div class="userNavButton-btm mbrButton-btm mbrButton-rc"></div></div><div class="menuButtonMenu menuWidthExtended" id="userNavMenu" style="display: none; width: 155px; top: 30px;"><div class="userNavMenu-tr mbrMenu-tr mbrMenu-rc"></div><div class="userNavMenu-tl mbrMenu-tl mbrMenu-rc"></div><div class="mbrMenuItems" id="userNav-menuItems"><a href="/_ui/core/userprofile/UserProfilePage" class="menuButtonMenuLink firstMenuItem" title="My Profile">My Profile</a><a href="/secur/logout.jsp" class="menuButtonMenuLink" title="Logout">Logout</a></div><div class="userNavMenu-br mbrMenu-br mbrMenu-rc"></div><div class="userNavMenu-bc mbrMenu-bc"></div><div class="userNavMenu-bl mbrMenu-bl mbrMenu-rc"></div></div></div>	        		<script>new MenuButtonRounded('userNav', false,16);</script>
	        		-->
	        	
            </div>
        </div>
     
		<div class="menu_div">
		    
		    <ul class="menu_ul">

		        <li class="menu_li" >
		            <a href="" class="menu_a">&nbsp;</a>
		        </li>
		        
		        <li class="menu_li_selected" >
		            <a href="" class="menu_a_selected">Home</a>
		        </li>
		        		        
		        <li class="menu_li" >
		            <a href="/_ui/core/chatter/ui/ChatterPage?tsid=02u90000000BMdJ" class="menu_a">Chatter</a>
		        </li>
		            	            
		        <li class="menu_li">
		            <a href="/_ui/core/chatter/people/PeopleListPage?tsid=02u90000000BMdJ" class="menu_a">Directory</a>
		        </li>
		       
		        <li class="menu_li" >
		            <a href="/_ui/core/chatter/groups/GroupListPage?tsid=02u90000000BMdJ" class="menu_a_selected">Groups</a>
		        </li>
		        
		        <li class="menu_li" >
		            <a href="/_ui/core/chatter/files/FileTabPage?tsid=02u90000000BMdJ" class="menu_a_selected">My Files</a>
		        </li>        
		    
		        <li class="menu_li" >
		            <a href="{!ChatterSetting.Company_Policies_Link__c}" class="menu_a_selected">Company Policies</a>
		        </li> 
		            
		    </ul>
		</div>
    

        
        <div id="bodyDiv">
        
            <div id="leftColumn">
            
            	<center>
            	
	            	<div id="currentdate">
	            		{!currentDate}
	            	</div>
	             
	              <!--  
	                <div>
	                  	<apex:image style="padding-top: 10px;" value="{!$Resource.intranet_otp}" />
	                </div>
	                			               
	                <div>
	                  	<a href="{!ChatterSetting.Internal_IT_Support_Link__c}" target="_blank"><apex:image style="padding-top: 5px;" value="{!$Resource.intranet_itHelp}" /></a>
	                </div>
	              -->  
	              
                 </center>
            </div>
                       
            <div id="middleColumn">
                <apex:image value="{!$Resource.intranet_splash}" style="width:100%;" />
                <apex:outputPanel rendered="{!IF(ChatterSetting.Staff_Notification__c!='','TRUE','FALSE')}">
                	<div class="staffNotification">
                	{!ChatterSetting.Staff_Notification__c}</div>
                </apex:outputPanel>
 
                <!--<iframe src="apex/FeedDisplay?id=a2330000000LEFv " width="100%" border="0" frameborder="0" height=" 50px" scrolling="no"/>-->
                <chatter:newsFeed />
            </div>
            
            <div id="rightColumn" style="padding-top: 4px;">
                <div id="companyPolicies">
                   
                    <div style="width:181px;position:relative;margin:0 auto;">
                        <center>
               			
                           	<div class="sidebarblock">
                				<a href="{!ChatterSetting.News_Link__c}">News</a>
                			</div>

                        	<div class="sidebarblock">
                				<a href="{!ChatterSetting.Latest_Video_Link__c}">Latest videos</a>
                			</div>

                        	<div class="sidebarblock">
                				<a href="{!ChatterSetting.Staff_Offers_Link__c}">Staff Offers</a>
                			</div>

                        	<div class="sidebarblock">
                        		<a href="{!ChatterSetting.Chatter_Group_Link__c}">Chatter Support</a>
                			</div>
                			                			                			
                			<!--<apex:image value="{!$Resource.intranet_buttons}" style="width:175px;position:relative;top:10px;"/>--></center>
                    </div>
                </div>
                    
            </div>
            
        </div>
        
        <div id="footerDiv">
          
 
        </div>
    </div>
             
    <div style="width:100%"  id="chatterDiv">
         <div style="width:100%; bottom: 0; height: 108px; vertical-align: baseline;background: url('https://css.virginaustralia.com/images/social-media/news-alerts_bg.gif') repeat-x scroll 0 0 transparent;f" id="footer-partners">
	         <div id="footerWide">
	            <div id="doubleFooter">
	                <div class="widget_footer">
	                    <div class="partner-list">
	                        <div class="footer-partner-logos">
	                          	<div class="text-copyright">
	                            	<p style="padding-left: 100px;" >© Virgin Australia Airlines Pty Ltd ABN 36 090 670 965</p>
	                           	</div>
	                       		<div class="text">
	                   			</div>
	                    		<div class="logo-list">
	                    		</div>      
	                		</div><!--end footner-partner-logos-->
	            		</div>
            		</div>
         		</div>
       		</div>
		</div>
 	</div>    
 <!--  
    <script>
        $(document).ready(function(){
            $('#badgeLink').bind("click", function(){
                $('#chatterDiv').bPopup({content:'iframe', contentContainer:'#pContent', loadUrl:'/apex/BadgePolicy'});
                return false
            });
        });
        
    </script> -->
    
</apex:page>