<apex:page standardController="Case" tabStyle="Case">
    <apex:form >
        <apex:pageBlock >
             <apex:pageBlockButtons dir="RTL">
             </apex:pageBlockButtons>    
         </apex:pageBlock>    
    </apex:form>
</apex:page>