<apex:page standardController="Case" extensions="LostDamagedBaggagedSectionController" tabStyle="Case">
    <apex:includeScript value="{!$Resource.jquery1102min}"/>
<apex:form >    
    <apex:pageBlock mode="maindetail">        
        <apex:pageMessages />
        <apex:pageBlockButtons location="top">           
            <apex:commandLink onclick="OpenLostDetails('0')" action="{!LoadLostBaggage}" rendered="{!IF(Case.PIR_Number__c == '',false,true)}" value="Lost Bag Details" />
        </apex:pageBlockButtons>
        <apex:pageBlockSection columns="1" collapsible="false" showHeader="false">
            <apex:outputField value="{!Case.PIR_Number__c}"/>
            <apex:outputField value="{!Case.Record_Type__c}"/>
        </apex:pageBlockSection>
        <h1>Search History</h1>
        <apex:pageBlockSection title="Search History" columns="1" showHeader="false" id="MainList" >
        <apex:repeat value="{!LostBaggageList}" var="LostBaggageListVar">
        	<apex:outputPanel id="ClosePage">
                <a href="javascript:void()" onclick="openHistoryLostDetails('{!LostBaggageListVar.PIR_Number__c}')">{!LostBaggageListVar.Search_Date_Time__c}</a> &nbsp; 
                <span class="Created"><apex:outPutField label=""  value="{!LostBaggageListVar.CreatedById}"/></span>  &nbsp;
                    <apex:outputField label="" value="{!LostBaggageListVar.PIR_Number__c}"/>
            </apex:outputPanel>
        </apex:repeat>
        </apex:pageBlockSection>
     
    	</apex:pageBlock>
    <script>    	
    	
    	$( document ).ready(function() {
            $('.Created span').each(function(key,value) {
                $(value).children(' a').attr('href','javascript:void(0)');
  			});
		});
    //Start fixing for DE4931
    	function openHistoryLostDetails(pirNumber) {
            var url = '/apex/LostBagDetails?id='+'{!Case.id}'+'&pir='+pirNumber+'&recordtype='+'{!Case.Record_Type__c}'+'&isdetail=false';
            window.showModalDialog(encodeURI(url), 'Popup','dialogWidth:800px; dialogHeight:600px,status:yes,center:yes,resizable:yes');
        }
    //End fixing DE4931
        function OpenLostDetails(fl){
            var url = '/apex/LostBagDetails?id='+'{!Case.id}'+'&pir='+'{!Case.PIR_Number__c}'+'&recordtype='+'{!Case.Record_Type__c}';
            if(fl =='1')
            {
                url = url +'&isdetail=false';
            }
            else
            {
                url = url +'&isdetail=true';
            }                
            var returnVal = window.showModalDialog(encodeURI(url), 'Popup','dialogWidth:800px; dialogHeight:600px,status:yes,center:yes,resizable:yes');
    
            
        }   
    </script>
    
    </apex:form>
</apex:page>