<apex:page standardController="EFT__c" recordSetVar="unused" sidebar="false">
<apex:includeScript value="{!$Resource.UtilJS}" />
<apex:form >
<apex:pageBlock rendered="{!if(CONTAINS($Label.EFT_MASS_EDIT_ALIAS, $User.Alias), true, false)}">
    					
<apex:pageMessages />
<apex:pageBlock >
Note: All modifications made on the page will be lost if Return button is clicked without clicking the Save button first. 
</apex:pageBlock>
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!save}"/>
<apex:commandButton value="Return" action="{!cancel}"/>
</apex:pageBlockButtons>
<apex:pageBlockTable value="{!selected}" var="a" id="table">
<apex:column headerValue="Payment Form">
<apex:inputField value="{!a.Payment_Form__c}"/>
</apex:column>    
<apex:column headerValue="Name(First Middle Last Name">
<apex:inputField value="{!a.Name_First_Middle_Last_Name__c}"/>
</apex:column>
<apex:column headerValue="Case Number">
<apex:inputField value="{!a.Case_Number__c}"/>
</apex:column>    
<apex:column headerValue="PNR">
<apex:inputField value="{!a.PNR__c}"/>
</apex:column> 
<apex:column headerValue="G/L Code">
<apex:inputField value="{!a.G_L_Code__c}"/>
</apex:column> 
<apex:column headerValue="Responsible Department">
<apex:inputField value="{!a.Responsible_Department_Leave_Blank__c}"/>
</apex:column> 
<apex:column headerValue="Payment Amount">
<apex:inputField value="{!a.Payment_Amount__c}"/>
</apex:column> 
<apex:column headerValue="Currency">
<apex:inputField value="{!a.Currency__c}"/>
</apex:column> 
<apex:column headerValue="Account Name">
<apex:inputField value="{!a.Account_Name__c}"/>
</apex:column>     
<apex:column headerValue="BSB">
<apex:inputField value="{!a.BSB__c}"/>
</apex:column> 
<apex:column headerValue="Account No">
<apex:inputField value="{!a.Account_No__c}"/>
</apex:column>   
<apex:column headerValue="Organisation	">
<apex:inputField value="{!a.Organisation__c}"/>
</apex:column>     
<apex:column headerValue="Comment">
<apex:inputField value="{!a.Comment__c}"/>
</apex:column>     
    
<apex:column headerValue="Parent Compensation">
<apex:inputField value="{!a.Parent_Compensation__c}"/>
</apex:column>
<apex:column headerValue="Status">
<apex:inputField value="{!a.Status__c}"/>
</apex:column>
<apex:column headerValue="BSB Checker Link">
<apex:inputField value="{!a.Url__c}"/>
</apex:column>    
</apex:pageBlockTable>
</apex:pageBlock>
<apex:pageBlock rendered="{!if(CONTAINS($Label.EFT_MASS_EDIT_ALIAS, $User.Alias), false, true)}">
You do not have access to this feature.   

</apex:pageBlock>    
</apex:form>
</apex:page>