<apex:page standardController="Event" > 
<style type="text/css">
        .redAlert {
            font-weight: bold;
            color: #FF0000;
            font-size : 22px;
            text-decoration: none;
        }
       
    </style>
   
    <apex:form >
        <apex:outputPanel >          
            <center>
               <apex:outputText styleClass="redAlert" value="THIS IS WHERE THE STATIC MESSAGE WILL RESIDE"/> <br/>
            </center>
        </apex:outputPanel>
    </apex:form>
</apex:page>