<!--
 Author: Warjie Malibago (Accenture CloudFirst)
 Date: May 30, 2016
 Description: C# 107599; Caters the URL hacking for Opportunities under Corporate record type.
-->
<apex:page standardController="Opportunity" extensions="OpportunityRedirectController" lightningStylesheets="true">
    <apex:form >
        <p style="font-size: 1em; font-weight: bold;">New Opportunity/Renewal
        <h1 style="font-size: 2em; font-weight: normal;">Select Opportunity/Renewal Record Type</h1></p>
        <apex:outputText value="Select a record type for the new opportunity/renewal. To skip this page in the future, change your record type settings on your personal setup page." /><br/><br/>
        <apex:pageBlock title="Select Opportunity/Renewal Record Type">
            <apex:outputText value="Record Type of new record" style="font-size: .85em; font-weight: bold;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <apex:selectList value="{!recType}" multiselect="false" size="1">
                <apex:selectOptions value="{!items}" />
            </apex:selectList>
            <apex:pageBlockButtons >
                <apex:commandButton value="Continue" action="{!proceed}" />
                <apex:commandButton value="Cancel" action="{!cancel}" />                
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <p style="font-size: 1em; font-weight: bold;">Available Opportunity/Renewal Record Types</p>
        <table style="border: solid 1px #ccc;">
            <tr style="background: #ccc;">
                <td><b>Record Type Name</b></td>
                <td><b>Description</b></td>
            </tr>
            <tr>
                <td><b>AdSpace</b></td>
                <td>Adspace Opportunity</td>
            </tr>
            <tr>
                <td><b>Corporate</b></td>
                <td>Corporate Opportunity</td>
            </tr>
            <tr>
                <td><b>Groups</b></td>
                <td>Groups and Conferences</td>
            </tr>
            <tr>
                <td><b>Industry</b></td>
                <td>Industry Opportunity</td>
            </tr>
             <tr>
                <td><b>Industry Adhoc</b></td>
                <td>Adhoc Industry Opportunity</td>
            </tr>
            <tr>
                <td><b>Velociy</b></td>
                <td>Velociy Opportunity</td>
            </tr>
        </table>
    </apex:form>
</apex:page>