<apex:page tabStyle="Contract" controller="PRISMDataReviewController" action="{!CheckAccount}">
        <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <style type="text/css">
    .pbSubheader{
            margin-top:-5px !important;
    }
    .pbBody table.list
    {
        margin-top:-11px !important;
        border-bottom:none !important;
    }
    .date_range
    {
        font-weight:bold !important;
    }
    .bold-left-border
    {
        border-left:solid 2px #0000ff !important
    }
    .none-border
    {
        border:none;
    }       
    </style> 
    <script type="text/javascript">
    
        //remove redundance css
        $(document).ready(function() {
            jQuery('.addition').each(function() {
                try
                {
                    var currentElement = $(this);
                    currentElement.parent().removeClass('data2Col');
                    /*currentElement.parent().addClass('none-border');*/
                }
                catch(e)
                {
                }
                });
                
            //add left border for all Total Amount Headers  
            var number=0;
            jQuery('th:contains("Total Amount")').each(function() {
            try
            {   number++;
                if(number%2==0)
                {
                    var headertable = $(this);
                    headertable.addClass('bold-left-border');
                }
            }
            catch(e)
            {
            }
            });
            
            //add left border for all Total Amount Footers
            jQuery('.totalamount').each(function() {
            try
            {
                var foot = $(this);
                foot.parent().addClass('bold-left-border');
            }
            catch(e)
            {
            }
            });
            });
    </script>
</head>
    <apex:sectionHeader title="" subtitle="{!CurrentAccountName} - PRISM Revenue Data"  />
    <apex:form ><apex:inputHidden value="{!dynamicQuery}" id="dynamicQuery"/>
        <script>var listsectiontempalte = document.getElementById('{!$Component.dynamicQuery}');</script>
        <apex:pageBlock >
         <apex:pageBlockButtons style="float:right" >
            <apex:commandButton action="{!viewAsPDF}" onclick=" return getByElementClassName();" value="Export to pdf"/>
            </apex:pageBlockButtons>
            <apex:repeat var="POSRevenueItem" value="{!AllPOSRevenueItem}">
                <apex:pageBlockSection title="{!POSRevenueItem.RevenueTypeName} Revenue" columns="1">
                <input type="hidden" class="addition" value="{!POSRevenueItem.RevenueTypeName}"></input>
                    <apex:repeat var="AllTypeValue" value="{!POSRevenueItem.TypeObjectList}">
                        <apex:pageBlockSection title="{!AllTypeValue.TypeName} Flights" columns="1">
                        <input type="hidden" class="addition" value="{!POSRevenueItem.RevenueTypeName}-{!AllTypeValue.TypeName}"></input>
                        <apex:repeat var="POSRevenue" value="{!AllTypeValue.POSRevenueWrapperList}">
                                    <apex:outputPanel rendered="{!IF((POSRevenueItem.RevenueTypeName == 'Annual' ), true, false)}">
                                        <div class="date_range"><apex:outputText value="{0, Date,dd/MM/yyyy}">Date Range: <label class="date_range"><apex:param value="{!POSRevenue.POSRevenueHeader.Start_Date__c}" /></label></apex:outputText> -&nbsp; <apex:outputText value="{0, Date,dd/MM/yyyy}"><label><apex:param value="{!POSRevenue.POSRevenueHeader.End_Date__c}" /></label></apex:outputText></div>
                                    </apex:outputPanel>
                                        <div style="width:22%; height:20px;background:#e3e3d7;float:left;text-align: center; font-weight:bold; padding-top:3px; color:#000000">{!POSRevenue.POSRevenueHeader.Year__c} Year</div>
                                        <div style="width:30%; height:20px;background:#e3e3d7;float:left;text-align: center;font-weight:bold;padding-top:3px; color:#000000">Virgin Australia</div>
                                        <div style="width:48%; height:20px;background:#e3e3d7;float:left;text-align: center;font-weight:bold;padding-top:3px; color:#000000">Other Airlines</div>
                                    <apex:pageBlockTable value="{!POSRevenue.POSRevenueList}" var="revenueDetail">
                                        <apex:column >
                                            <apex:facet name="header"></apex:facet>
                                        <apex:facet name="footer">TOTAL</apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">PRISM Revenue #</apex:facet>
                                                <apex:commandLink value="{!revenueDetail.Name}" title="View detail" action="{!ViewDetail}" immediate="true">
                                                    <apex:param name="currentID" value="{!revenueDetail.Id}"/>
                                            </apex:commandLink>
                                            <apex:facet name="footer"></apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">{!IF((POSRevenueItem.RevenueTypeName == 'Annual' ), 'POS','Month')}</apex:facet>
                                            <apex:outputText value="{!IF((POSRevenueItem.RevenueTypeName == 'Annual' ), revenueDetail.POS__c,revenueDetail.Month__c)}"></apex:outputText>                                   
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Total Amount</apex:facet>
                                            <apex:outputText value="{0,number,$#,###.##}"><apex:param value="{!revenueDetail.VA_YTD_Total_Amount__c}"/></apex:outputText>
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                    <apex:outputText value="{0,number,$#,###.##}"><apex:param value="{!POSRevenue.VAYTDTotalAmount}"/></apex:outputText>
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Amount Share</apex:facet>
                                            <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!revenueDetail.VA_YTD_Amount_Share__c}"/>
                                            </apex:outputText>%
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Total Sector</apex:facet>
                                            <apex:outputText value="{0,number,#,###}"><apex:param value="{!revenueDetail.VA_YTD_Count__c}"/></apex:outputText>
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                    <apex:outputText value="{0,number,#,###}"><apex:param value="{!POSRevenue.VAYTDCount}"/></apex:outputText>
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Sector Share</apex:facet>
                                            <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!revenueDetail.VA_YTD_Count_Share__c}"/>
                                            </apex:outputText>%
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column style="border-left:solid 2px #0000ff !important">
                                            <apex:facet name="header" >Total Amount</apex:facet>
                                            <apex:outputText value="{0,number,$#,###.##}"><apex:param value="{!revenueDetail.YY_YTD_Total_Amount__c}"/></apex:outputText>
                                            <apex:facet name="footer">
                                                    <apex:outputText value="{0,number,$#,###.##}"><div class="totalamount" style="display:none"></div><apex:param value="{!POSRevenue.YYYTDTotalAmount}"/></apex:outputText>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Amount Share</apex:facet>
                                            <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!revenueDetail.YY_YTD_Amount_Share__c}"/></apex:outputText>%
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Total Sector</apex:facet>
                                            <apex:outputText value="{0,number,#,###}"><apex:param value="{!revenueDetail.YY_YTD_Count__c}"/></apex:outputText>
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                    <apex:outputText value="{0,number,#,###}"><apex:param value="{!POSRevenue.YYYTDCount}"/></apex:outputText>
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                                        <apex:column >
                                            <apex:facet name="header">Sector Share</apex:facet>
                                            <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!revenueDetail.YY_YTD_Count_Share__c}"/>
                                            </apex:outputText>%
                                            <apex:facet name="footer">
                                                <apex:outputPanel >
                                                </apex:outputPanel>
                                            </apex:facet>
                                        </apex:column>
                        </apex:pageBlockTable>
                    </apex:repeat>
            </apex:pageBlockSection>
        </apex:repeat>
    </apex:pageBlockSection>
</apex:repeat>
<apex:pageBlockSection rendered="{!PRISMKeyRoute}" title="Key Routes Revenue" columns="1">
<input type="hidden" class="addition" value="Key Routes"></input>
    <apex:repeat var="PRISMKeyRoutes" value="{!AllPRISMKeyRoute}">
                <apex:outputPanel >
                <strong><apex:outputText value="{0, Date,dd/MM/yyyy}">Date Range: <label><apex:param value="{!PRISMKeyRoutes.PRISMKeyRoutesHeader.Start_Date__c}" /></label></apex:outputText> -&nbsp; <apex:outputText value="{0, Date,dd/MM/yyyy}"><label><apex:param value="{!PRISMKeyRoutes.PRISMKeyRoutesHeader.End_Date__c}" /></label></apex:outputText></strong>
                </apex:outputPanel>
                <div style="width:20%; height:20px;background:#e3e3d7;float:left;text-align: center; font-weight:bold; padding-top:3px; color:#000000;">{!PRISMKeyRoutes.PRISMKeyRoutesHeader.Type__c} Key Routes</div>
                <div style="width:80%; height:20px;background:#e3e3d7;float:left;text-align: center;font-weight:bold;padding-top:3px; color:#000000;">Virgin Australia</div>
                <div style="width:15%; height:20px;background:#e3e3d7;float:left;text-align: center;font-weight:bold;padding-top:3px;margin-left:5%; color:#000000;"></div>
                <div style="width:40%; height:20px;background:#e3e3d7;float:left;text-align: center;font-weight:bold;padding-top:3px;color:#000000">Current Year to Date</div>
                <div style="width:40%; height:20px;background:#e3e3d7;float:left;text-align: center;font-weight:bold;padding-top:3px;color:#000000">Previous Year to Date</div>
            <apex:pageBlockTable value="{!PRISMKeyRoutes.PRISMKeyRoutesDetailList}" var="PRISMKeyRoutesDetail">
                <apex:column >
                    <apex:facet name="header"></apex:facet>
                    <apex:facet name="footer">TOTAL</apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Name</apex:facet>
                    <apex:commandLink value="{!PRISMKeyRoutesDetail.Name}" title="View detail" action="{!ViewDetail}" immediate="true">
                                        <apex:param name="currentID" value="{!PRISMKeyRoutesDetail.Id}"/>
                                </apex:commandLink>
                    <apex:facet name="footer"></apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Order</apex:facet>
                    <apex:outputText value="{0,number,#,###}"><apex:param value="{!PRISMKeyRoutesDetail.Order_Number__c}"/></apex:outputText>
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Origin</apex:facet>
                    <apex:outputText value="{!PRISMKeyRoutesDetail.Origin_Full__c}"></apex:outputText>
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Destination</apex:facet>
                    <apex:outputText value="{!PRISMKeyRoutesDetail.Destination_Full__c}"></apex:outputText>
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Total Amount</apex:facet>
                    <apex:outputText value="{0,number,$#,###.##}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Amount_Current_Year__c}"/></apex:outputText>
                    <apex:facet name="footer">
                            <apex:outputText value="{0,number,$#,###.##}"><apex:param value="{!PRISMKeyRoutes.VAAmountCurrentYear}"/></apex:outputText>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Amount Share</apex:facet>
                    <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Share_of_Amount_Current_Year__c}"/>
                    </apex:outputText>%
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Total Sector</apex:facet>
                    <apex:outputText value="{0,number,#,###}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Count_Current_Year__c}"/></apex:outputText>
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        <apex:outputText value="{0,number,#,###}"><apex:param value="{!PRISMKeyRoutes.VACountCurrentYear}"/></apex:outputText>
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Sector Share</apex:facet>
                    <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Share_of_Count_Current_Year__c}"/>
                    </apex:outputText>%
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column style="border-left:solid 2px #0000ff">
                    <apex:facet name="header">Total Amount</apex:facet>
                    <apex:outputText value="{0,number,$#,###.##}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Amount_Previous_Year__c}"/></apex:outputText>
                    <apex:facet name="footer">
                        <apex:outputText value="{0,number,$#,###.##}"><div class="totalamount" style="display:none"></div><apex:param value="{!PRISMKeyRoutes.VAAmountPreviousYear}"/></apex:outputText>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Amount Share</apex:facet>
                    <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Share_of_Amount_Previous_Year__c}"/></apex:outputText>%
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Total Sector</apex:facet>
                    <apex:outputText value="{0,number,#,###}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Count_Previous_Year__c}"/></apex:outputText>
                    <apex:facet name="footer">
                        <apex:outputPanel >
                            <apex:outputText value="{0,number,#,###}"><apex:param value="{!PRISMKeyRoutes.VACountPreviousYear}"/></apex:outputText>
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Sector Share</apex:facet>
                    <apex:outputText value="{0,number,#,###.##}"><apex:param value="{!PRISMKeyRoutesDetail.VA_Share_of_Count_Previous_Year__c}"/>
                    </apex:outputText>%
                    <apex:facet name="footer">
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>
                        </apex:pageBlockTable>
                    </apex:repeat>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    <script>
        function getByElementClassName()
            {
                    var allText = '';
                    jQuery('.showListButton').each(function() {
                            try
                            {
                            var currentElement = $(this);
                            var value = currentElement.parent().next().find('input').val();
                            if(allText == '')
                            {
                                allText = value;
                            }
                            else
                            {
                                allText = value+';'+ allText;
                            }
                        }
                        catch(e)
                        {
                        }
                    });
                if(listsectiontempalte != null)
                {
                    listsectiontempalte.value = allText;
                }
                return true;
            }
    </script>
</apex:page>