<apex:page standardController="Contract_Addendum__c" extensions="RedCircleDiscountController" action="{!initDisc}" lightningStylesheets="true">
    
     <style type="text/css">
        .inputf { 
        height: 50px;
        font-size:90%;
        }
        .input2f { 
        height: 50px;
        font-size:90%;
         }
        
    </style>
    <apex:form >
<apex:pageBlock >
  <apex:pageMessages ></apex:pageMessages>  
 <center>
       <apex:commandLink value=" Back " action="{!cancel}"     target="_parent" styleClass="btn"     style="text-decoration:none;padding:4px;"/> 
       <apex:commandLink value=" Quick Save " action="{!qsave}"     target="_parent" styleClass="btn"     style="text-decoration:none;padding:4px;"/> 
       <apex:commandLink value="Save" action="{!save}"     target="_parent" styleClass="btn"     style="text-decoration:none;padding:4px;"/>  
    </center>
<apex:pageBlockSection rendered="{!iseditable}" >    
    
    
   <apex:pageBlock mode="edit" id="block"   > 
   <apex:pageBlockButtons location="bottom" dir="LTR">    
          <apex:commandButton rendered="{!iseditable}" action="{!newDomOND}" value="  Insert Domestic OD Pairs and Tier     "/>
          <apex:commandButton rendered="{!iseditable}" action="{!newDom}" value="  Insert Red Circle Domestic Discount Table >        "/>
   </apex:pageBlockButtons>    
   </apex:pageBlock>
     
<apex:pageBlockTable value="{!searchResults}" var="item"   rendered="{!NOT(ISNULL(searchResults))}"> 
     <apex:column headerValue="Fare Type" width="20%"  value="{!item.Eligible_Fare_Type__c}" />
     <apex:column headerValue="Booking Class" width="20%"  value="{!item.VA_Eligible_Booking_Class__c}" />
    <apex:column headerValue="Applicable Routes" width="20%"><apex:inputField styleClass="input2f"  value="{!item.Applicable_Routes__c}" /></apex:column>  
     <apex:column headerValue="Discount" width="20%"><apex:inputField styleClass="input2f"  value="{!item.Discount_Off_Published_Fare__c}"/></apex:column>   
     <apex:column headerValue="Fixed Base Fare" width="20%" ><apex:inputField styleClass="input2f"  value="{!item.Fixed_Base_Fare__c}"/></apex:column>   
</apex:pageBlockTable>
</apex:pageBlockSection>
    
<apex:pageBlockSection rendered="{!iseditable}">
    <apex:pageBlock mode="edit" id="block" >
   <apex:pageBlockButtons location="bottom" dir="LTR">
          <apex:commandButton rendered="{!iseditable}" action="{!newRegOND}" value="  Insert Regional OD Pairs  and Tier   "/>
          <apex:commandButton rendered="{!iseditable}" action="{!newReg}" value="  Insert Red Circle Regional Discount Table >        "/>
   </apex:pageBlockButtons>
   </apex:pageBlock>
<apex:pageBlockTable value="{!searchResults1}" var="item"   rendered="{!NOT(ISNULL(searchResults1))}">
    <apex:column headerValue="Fare Type" width="20%"  value="{!item.Eligible_Fare_Type__c}" />
     <apex:column headerValue="Booking Class" width="20%"  value="{!item.VA_Eligible_Booking_Class__c}" />
    <apex:column headerValue="Applicable Routes" width="20%" ><apex:inputField styleClass="input2f"  value="{!item.Applicable_Routes__c}" /></apex:column>  
     <apex:column headerValue="Discount" width="20%"><apex:inputField styleClass="input2f"  value="{!item.Discount_Off_Published_Fare__c}"/></apex:column>   
     <apex:column headerValue="Fixed Base Fare" width="20%" ><apex:inputField styleClass="input2f"  value="{!item.Fixed_Base_Fare__c}"/></apex:column>   
</apex:pageBlockTable>
</apex:pageBlockSection>    
</apex:pageBlock>
</apex:form>    
</apex:page>