<apex:page standardController="Account" extensions="SelfUpdateController"  >
   <style type="text/css" >
 body {
        background-color: #DFE0DF;       
      }
 .pbTitle {
        width: 100%;    
        text-align: center;
        white-space: nowrap ;
     }
.bPageBlock.pbSectionTitle {
        width: 100%;    
        text-align: center;
        white-space: nowrap;
        color:#404c53; 
       
     }    
.bPageBlock.pbHeader {
    background-color: #404c53; 
}
.label{
   white-space: nowrap 
}      
</style> 
    
    <apex:stylesheet value="{!URLFOR($Resource.unsubscribe_images_zip, 'virgin.css')}" />
    <table width="60%" border="0" align="center" cellpadding="0" cellspacing="0" style="bgcolor: #404c53; padding: 20px;">
        <tr>
            <td width="100%">
                <br />
                <div style="height:5px; padding-top: 6.5px; background-color: #DFE0DF;">
                    <div style="margin-left: 6.5px; margin-right: 6.5px; height:5px; background-color: #FFF;">
                        &nbsp;
                    </div> 
                </div>
                <table width="100%" style="height: 100%;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#DFE0DF" style="padding-right:6.5px;"></td>
                        <td bgcolor="#FFFFFF" style="padding-right:5px;"></td>
                        <td width="100%" >
                            <div style="background-color: #252E35; width:100%; height: 75px;">
                                &nbsp;
                                <apex:image style="float: right; margin: -20px 20px 0px 0px;" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/logo.png')}" height="95px" />
                            </div>
                        </td>
                        <td bgcolor="#FFFFFF" style="padding-right:5px;"></td>
                        <td bgcolor="#DFE0DF" style="padding-right:6.5px;"></td>                                        
                    </tr>                                    
                </table>
            </td>
        </tr>
        <tr>                            
            <td width="100%" valign="top" bgcolor="#FFFFFF">
                <table width="100%" style="height: 100%;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#DFE0DF" style="padding-right:6.5px;"></td>
                        <td bgcolor="#FFFFFF" style="padding-right:5px;"></td>
                        <td width="100%" >
                            <br />
                            <apex:pageBlock mode="edit" title="Are the following details correct ?">   
                                 <apex:form > 
                                <apex:pageBlockSection title="Company Information" columns="1" >
                                    <apex:outputField label="Company Name" value="{!Account.Name}"/>
                                    <apex:outputField label="ABN/ACN" value="{!Account.Business_Number__c}"/>
                                    <apex:outputField label="Street Address" value="{!Account.BillingStreet}"/>                                    
                                    <apex:outputField label="City/Town" value="{!Account.BillingCity}"/>                                  
                                    <apex:outputField label="State" value="{!Account.BillingState}"/>                                    
                                    <apex:outputField label="Postcode" value="{!Account.BillingPostalCode}"/>
                                </apex:pageBlockSection>
                                <apex:pageBlockSection title="Your Annual Air Travel Expenditure" columns="1" >
                                    <apex:pageBlockTable value="{!acct}" var="acc" rendered="{!acct.size > 0}" columns="2">
                                    <apex:column headerValue="Total Domestic Air Travel Expenditure per Year" value="{!acc.Estimated_Domestic_Revenue__c}" />
                                    <apex:column headerValue="Total International Air Travel Expenditure per Year" value="{!acc.Estimated_International_Revenue__c}"/>
                                    </apex:pageBlockTable>
                                    </apex:pageBlockSection>
                                <apex:pageBlockSection title="Key Company Contacts" columns="1">
                                    <apex:pageBlockTable value="{!keyContactList}" var="keyCon" rendered="{!keyContactList.size > 0}">
                                        <apex:column title="Salutation" value="{!keyCon.Salutation}"/>
                                        <apex:column title="First Name" value="{!keyCon.FirstName}"/>
                                        <apex:column title="Surname" value="{!keyCon.LastName}"/>
                                        <apex:column title="Position" value="{!keyCon.Title}"/>
                                        <apex:column title="Phone" value="{!keyCon.Phone}"/>
                                        <apex:column title="Email Address" value="{!keyCon.Email}"/>
                                        <apex:column title="Status" value="{!keyCon.Status__c}"/>
                                    </apex:pageBlockTable>
                                    <apex:pageMessage severity="info" strength="1" summary="You have no active Key Contacts." rendered="{!NOT(keyContactList.size > 0)}"/>
                                </apex:pageBlockSection>
                                 <p>
                                         
                                 </p>
                                 <p>
                                         
                                 </p>      
                                 <div align="Center">
                                   <apex:outputPanel >
                                     <apex:commandButton styleClass="buttonStyle" style="color:white;background:green;font-size:15px;width:100px;height:25px;float: center"  action="{!clickYes}" value=" Confirm " />
                                     <apex:commandButton styleClass="buttonStyle" style="color:white;background:#be0f34;font-size:15px;width:220px;height:25px;float: center" action="{!clickNo}" value="  Update Company Details " immediate="true" /> 
                                      <p>
                                         
                                      </p>
                                      <p>
                                         
                                      </p> 
                                     </apex:outputPanel>
                                </div> 
                              </apex:form>        
                            </apex:pageBlock>
                        </td>
                        <td bgcolor="#FFFFFF" style="padding-right:5px;"></td>
                        <td bgcolor="#DFE0DF" style="padding-right:6.5px;"></td>                                        
                    </tr>                                    
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <div style="height:5px; padding-bottom: 6.5px; background-color: #DFE0DF;">
                    <div style="margin-left: 6.5px; margin-right: 6.5px; height:5px; background-color: #FFF;">
                        &nbsp;
                    </div> 
                </div>
                <table width="100%" style="height: 100%;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#DFE0DF" style="padding-right:6.5px;"></td>
                        <td bgcolor="#FFFFFF" style="padding-right:5px;"></td>
                        <td width="100%" >
                            
                        </td>
                        <td bgcolor="#FFFFFF" style="padding-right:5px;"></td>
                        <td bgcolor="#DFE0DF" style="padding-right:6.5px;"></td>                                        
                    </tr>                                    
                </table>
            </td>
        </tr>
    </table>
</apex:page>