<apex:page showHeader="true" controller="SIPTableSelectorController"
    sidebar="true" action="{!CheckExisted}" lightningStylesheets="true">
    <apex:sectionHeader title="" subtitle="SIP Table selector" />
    <apex:form >
        <h1>Based upon your selection of '{!contractType}' please select
            the appropriate SIP Tables to create for this Contract</h1>
        <apex:pageBlock >
            <apex:pageMessages ></apex:pageMessages>
            <apex:pageBlockButtons style="float:right">
                <apex:commandButton action="{!Cancel}" value="Cancel"
                    immediate="true" />
                <apex:commandButton action="{!Next}" value="Next" />
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!sIPOptionint}" var="SIP_OP" rendered="{!addsip}">
                <apex:column style="text-align:left;">
                    <apex:facet name="header"></apex:facet>
                    <apex:inputCheckbox value="{!SIP_OP.selectedint}" />
                    <apex:outputText value="{!SIP_OP.sip_optionint.Name}" />
                    <apex:outputText value="({!SIP_OP.sip_optionint.Description__c})" />
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>

    </apex:form>
</apex:page>