<apex:page controller="TravelBankController" action="{!updateTravelBankAccount}" showChat="false" showHeader="false" sidebar="false">
    <head><base target="_self" /></head>
    <apex:form >
        <apex:pageBlock title="Travel Bank Payment" tabStyle="Customer_Compensation__c" mode="detail" >
            <apex:pageMessages />
            
            <apex:pageBlockButtons location="bottom" dir="RTL">
                <apex:commandButton value="Close" onclick="javascript:top.window.close(); return false;"/>
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
    </apex:form>
</apex:page>