<apex:page cache="false" expires="-1" showheader="false" sidebar="false" standardController="Contact" extensions="UnsubscribeContact" action="{!unsubscribe}" >

<apex:pageMessages />
    
<apex:outputPanel rendered="{!IF(hasError==true, 'FALSE', 'TRUE')}" layout="block">

<table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><apex:image id="theImage1" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/pheader.jpg')}" width="550" height="75" /></td>
  </tr>
  <tr>
    <td colspan="3"><table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><apex:image id="theImage2" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/left.jpg')}" width="11" height="190" /></td>
        <td width="529" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="25" colspan="2">&nbsp;</td>
          </tr>
          <tr>
              <td width="100%" style="padding-left:30px;padding-right:30px;"><font style="font-family: Arial,Tahoma,sans-serif; font-size:12px; color:#4c4c4c"><!--<strong>You have now unsubscribed from Virgin Australia eDM communications.</strong><br /><br/>-->
                  <apex:outputText value="{!$Label.Unsubscribe_Confirmation}" style="font-weight:600; font-family: Arial,Tahoma,sans-serif; font-size:12px; color:#4c4c4c"/> <br /><br/><br/><!--JJJJ-->
                 
                  <!--Please note changes may take up to 5 days to update.<br />-->
                  <apex:outputText value="{!$Label.Unsubscribe_ChangeDelay}" style="font-family: Arial,Tahoma,sans-serif; font-size:12px; color:#4c4c4c"/> <br /><!--JJJJ-->
                  <br /><!--If you wish to re-subscribe to Virgin Australia eDMs please email your subscription request to your applicable account manager.<br />-->
                  <apex:outputText value="{!$Label.Unsubscribe_Resubscription}" style="font-family: Arial,Tahoma,sans-serif; font-size:12px; color:#4c4c4c"/> <br />
                  </font></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
        </table></td>
        <td width="10"><apex:image id="theImage3" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/right.jpg')}" width="10" height="190" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><apex:image id="theImage4" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/left.jpg')}" width="11" height="180" /></td>
        <td width="529" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="6%">&nbsp;</td>
              <td width="94%"><span style="font-family: Arial,Tahoma,sans-serif; font-size:10px; color:#878787"><apex:outputText value="{!$Label.Unsubscribe_Address}" /> | <a href="https://www.virginaustralia.com/au/en/about-us/policies/legal/terms-of-use/">Terms of Use</a> | <a href="https://www.virginaustralia.com/au/en/about-us/policies/privacy/">Privacy</a> | <a href="https://www.virginaustralia.com/au/en/about-us/policies/privacy/">Conditions of Carriage</a><br /><br />
                 
                   </span></td>
             
              <!--End-->
          </tr>
        </table></td>
        
        
      
        
        
        
        
        
        
        
        <td width="10"><apex:image id="theImage5" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/right.jpg')}" width="10" height="180" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><apex:image id="theImage6" value="{!URLFOR($Resource.unsubscribe_images_zip, 'unsubscribe_images/footer.jpg')}" width="550" height="11" /></td>
  </tr>
</table>

</apex:outputPanel>

</apex:page>