<apex:page standardController="Case" extensions="VelocitySectionController" lightningStylesheets="true" showHeader="false" sidebar="false" id="page1" >
    <apex:includeScript value="{!$Resource.jquery1102min}"/>
    <script>
    /**
    * Opens a popup with url
    * @param url The URL to open
    */
    function openPopup(url){
        window.showModalDialog(url, 'Popup','dialogWidth:800px; dialogHeight:600px;resizable=no; status:yes;'); 
    }

    /**
    * Opens velocity detail popup when clicking on Velocity Details link
    * @param url The URL to open
    */
    function openVelocityDetailsPopup(){
        var velocityNumber = {!caseRecord.Velocity_Number__c};
        var caseId = '{!Case.Id}';
        var url="/apex/VelocityDetails?velocityNumber=" + velocityNumber + "&caseId=" + caseId;
        window.showModalDialog(url, 'Popup','dialogWidth:800px; dialogHeight:600px;resizable=no; status:yes;'); 
    }
    
    /**
    * Opens a popup when clicking on a time-stamped link
    * @param url Open user's profile popup
    */
    function openProfileDetails(url) {
        window.showModalDialog(url, 'Popup','dialogWidth:800px; dialogHeight:170px;resizable=no; status:yes;'); 
    }
    
    /**
    * Disables opening user's profile when clicking on username in a time-stamped link
    */
    $(document).ready(function() {
        $('.Created span').each(function(key,value) {
            $(value).children(' a').attr('href','javascript:void(0)');
        });
    });
    </script>
    <apex:form >
    <apex:pageBlock mode="maindetail" id="mainBlock">
        <apex:pageBlockButtons location="top">
                <apex:commandLink onclick="openVelocityDetailsPopup();" action="{!reloadVelocitySection}"
            value="Velocity Details" rendered="{!showVelocityDetailsLink}"/>
            </apex:pageBlockButtons>
        <h1>Guest Provided Details</h1>
        <apex:pageBlockSection title="Guest Provided Details" columns="1" showHeader="false">
            <apex:outputField value="{!caseRecord.Velocity_Number__c}" />
        </apex:pageBlockSection>
        <h1>Velocity Profile Details</h1>
        <apex:pageBlockSection title="Velocity Profile Details" columns="1" showHeader="false" >           
            <apex:outputField value="{!velocityRecord.Tier__c}"/>            
            <apex:outputField value="{!velocityRecord.Point_Balance__c}"/>
        </apex:pageBlockSection>
        
        <div>
        <div style="font-weight: bold; color: black">{!Snapshot.message}</div>
    
        <div style="position: absolute; margin-top: 115px; margin-left: 33px;color: white;font-size: 13px;">
        {!Snapshot.title} {!Snapshot.firstName} {!Snapshot.lastName}<br/>  
        {!Snapshot.velocityNumber}<br/>
        
        </div>

    <img alt ="Not Found" style="display: {!Snapshot.dis}; width: 300px; height: 202px;" src="{!URLFOR($Resource.Velocity, Snapshot.cardImageName)}"/>

</div>
        
        
  
        <apex:pageBlockSection title="Search History" columns="1">
            <apex:repeat value="{!listVelocity}" var="velocity" rendered="true">
                <apex:outputPanel >
                    <apex:commandLink value="{!velocity.CreatedDate}" onclick="openProfileDetails('/apex/VelocityProfileDetails?Id={!velocity.Id}');"/>
                    &nbsp; <span class="Created"><apex:outPutField label="" value="{!velocity.CreatedById}"/></span> &nbsp;
                </apex:outputPanel>
            </apex:repeat>
        </apex:pageBlockSection>
    </apex:pageBlock>
    </apex:form>
</apex:page>