<apex:page standardController="Incentive_Members__c" extensions="VelocitySnapshotController" lightningStylesheets="true"  title="Velocity Snapshot" tabStyle="Case"  showHeader="false" sidebar="false">

<div>
     <div style="font-weight: bold; color: black">{!Snapshot.message}</div>
    <div style="font-weight: bold; color: red">{!Snapshot.err}</div>
    <div style="position: absolute; margin-top: 115px; margin-left: 33px;color: white;font-size: 13px;">
        {!Snapshot.title} {!Snapshot.firstName} {!Snapshot.lastName}<br/>  
        {!Snapshot.velocityNumber}<br/>
        
    </div>

    <img alt ="Not Found" style="display: {!Snapshot.dis}; width: 300px; height: 202px;" src="{!URLFOR($Resource.Velocity, Snapshot.cardImageName)}"/>

</div>

</apex:page>